# Tutorial 3.7: Pandas GroupBy
Python for Data Analytics | Module 3  
Professor James Ng

<div class="alert alert-block alert-danger">
<h4>Warning: This is a Difficult Topic</h4>
<p>
This tutorial is going to cover some of the most powerful features of the Pandas library. With the power comes some complexity.

In [1]:
# SETUP: DO NOT CHANGE
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

## Introduction

In this tutorial, we will be getting our feet wet with the incredibly powerful and flexible grouping functionality in Pandas.

In [2]:
# For this tutorial, we will be working with both of
# our higher education data sets.
college_loan_defaults = pd.read_csv('https://www3.nd.edu/~jng2/college-loan-default-rates.csv')

college_scorecard = pd.read_csv('https://www3.nd.edu/~jng2/college-scorecard-data-scrubbed.csv', 
    encoding='latin-1')

## The `groupby()` Method

So far, all the calculations that we've done on *DataFrame* objects have looked at the values inside columns (*Series*) as a whole.

The `groupby()` method allows you to move into deeper forms analysis by splitting up the rows of a *DataFrame* into groups and then analyzing the records BY GROUP. You can think of this as putting rows into buckets for evaluation.

## Using `groupby()` to Split your Dataset into Groups
Of course, before we can perform evaluations on groups, we have to create them from an existing *DataFrame*. 

Let's explore how the `groupby()` method provides a variety of ways to split up your datasets. Generally speaking, we will demonstrate how the values of one (or more) Series or an index is used to divide up the rows into groups.

Let's explore some of these here, starting with the most simple.

### Single Column Grouping
The simpliest way to create a groups from a *DataFrame* is to specify a single column within the *DataFrame* whose values will become the group definitions. 

In the abstract, this sounds complicated, so let's to a look at an example, which will help to make things clear.

In [3]:
# Group rows by the values of the 'state' column.
colleges_by_state = college_scorecard.groupby(['state'])
colleges_by_state.groups

{'AK': Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64'),
 'AL': Int64Index([ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
              23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
              36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
              49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
              62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
              75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,
              88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100],
            dtype='int64'),
 'AR': Int64Index([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113,
             114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126,
             127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
             140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152,
             153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165,
             166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178,
             179, 180, 181, 182, 183],
            dtype='int64'),
 'AS': Int64Index([184], dtype='int64'),
 'AZ': Int64Index([185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
             ...
             309, 310, 311, 312, 313, 314, 315, 316, 317, 318],
            dtype='int64', length=134),
 'CA': Int64Index([ 319,  320,  321,  322,  323,  324,  325,  326,  327,  328,
             ...
             1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026],
            dtype='int64', length=708),
 'CO': Int64Index([1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036,
             ...
             1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153],
            dtype='int64', length=127),
 'CT': Int64Index([1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164,
             1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175,
             1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186,
             1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197,
             1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208,
             1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219,
             1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230,
             1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241,
             1242, 1243, 1244, 1245],
            dtype='int64'),
 'DC': Int64Index([1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256,
             1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267,
             1268, 1269],
            dtype='int64'),
 'DE': Int64Index([1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280,
             1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288],
            dtype='int64'),
 'FL': Int64Index([1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298,
             ...
             1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688],
            dtype='int64', length=400),
 'FM': Int64Index([1689], dtype='int64'),
 'GA': Int64Index([1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699,
             ...
             1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865],
            dtype='int64', length=176),
 'GU': Int64Index([1866, 1867, 1868], dtype='int64'),
 'HI': Int64Index([1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879,
             1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890,
             1891, 1892, 1893, 1894],
            dtype='int64'),
 'IA': Int64Index([1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905,
             1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916,
             1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927,
             1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938,
             1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949,
             1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
             1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
             1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
             1983, 1984, 1985, 1986],
            dtype='int64'),
 'ID': Int64Index([1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
             1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
             2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
             2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028],
            dtype='int64'),
 'IL': Int64Index([2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038,
             ...
             2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328],
            dtype='int64', length=300),
 'IN': Int64Index([2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338,
             ...
             2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460],
            dtype='int64', length=132),
 'KS': Int64Index([2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471,
             2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482,
             2483, 2484, 2485, 2486, 2487, 2488, 2489, 2490, 2491, 2492, 2493,
             2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504,
             2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515,
             2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526,
             2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537,
             2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548,
             2549, 2550, 2551, 2552, 2553, 2554],
            dtype='int64'),
 'KY': Int64Index([2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564,
             ...
             2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660, 2661, 2662],
            dtype='int64', length=108),
 'LA': Int64Index([2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672,
             ...
             2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785],
            dtype='int64', length=123),
 'MA': Int64Index([2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795,
             ...
             2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976],
            dtype='int64', length=191),
 'MD': Int64Index([2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987,
             2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998,
             2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009,
             3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020,
             3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031,
             3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042,
             3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053,
             3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064,
             3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073],
            dtype='int64'),
 'ME': Int64Index([3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084,
             3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095,
             3096, 3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105, 3106,
             3107, 3108, 3109, 3110, 3111, 3112, 3113],
            dtype='int64'),
 'MH': Int64Index([3114], dtype='int64'),
 'MI': Int64Index([3115, 3116, 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124,
             ...
             3299, 3300, 3301, 3302, 3303, 3304, 3305, 3306, 3307, 3308],
            dtype='int64', length=194),
 'MN': Int64Index([3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318,
             ...
             3440, 3441, 3442, 3443, 3444, 3445, 3446, 3447, 3448, 3449],
            dtype='int64', length=141),
 'MO': Int64Index([3450, 3451, 3452, 3453, 3454, 3455, 3456, 3457, 3458, 3459,
             ...
             3639, 3640, 3641, 3642, 3643, 3644, 3645, 3646, 3647, 3648],
            dtype='int64', length=199),
 'MP': Int64Index([3649], dtype='int64'),
 'MS': Int64Index([3650, 3651, 3652, 3653, 3654, 3655, 3656, 3657, 3658, 3659, 3660,
             3661, 3662, 3663, 3664, 3665, 3666, 3667, 3668, 3669, 3670, 3671,
             3672, 3673, 3674, 3675, 3676, 3677, 3678, 3679, 3680, 3681, 3682,
             3683, 3684, 3685, 3686, 3687, 3688, 3689, 3690, 3691, 3692, 3693,
             3694, 3695, 3696, 3697, 3698, 3699, 3700, 3701, 3702, 3703, 3704,
             3705, 3706, 3707, 3708, 3709, 3710],
            dtype='int64'),
 'MT': Int64Index([3711, 3712, 3713, 3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721,
             3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 3732,
             3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740],
            dtype='int64'),
 'NC': Int64Index([3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750,
             ...
             3927, 3928, 3929, 3930, 3931, 3932, 3933, 3934, 3935, 3936],
            dtype='int64', length=196),
 'ND': Int64Index([3937, 3938, 3939, 3940, 3941, 3942, 3943, 3944, 3945, 3946, 3947,
             3948, 3949, 3950, 3951, 3952, 3953, 3954, 3955, 3956, 3957, 3958,
             3959, 3960, 3961, 3962, 3963, 3964, 3965],
            dtype='int64'),
 'NE': Int64Index([3966, 3967, 3968, 3969, 3970, 3971, 3972, 3973, 3974, 3975, 3976,
             3977, 3978, 3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987,
             3988, 3989, 3990, 3991, 3992, 3993, 3994, 3995, 3996, 3997, 3998,
             3999, 4000, 4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009,
             4010, 4011, 4012, 4013, 4014],
            dtype='int64'),
 'NH': Int64Index([4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025,
             4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036,
             4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047,
             4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056],
            dtype='int64'),
 'NJ': Int64Index([4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066,
             ...
             4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216],
            dtype='int64', length=160),
 'NM': Int64Index([4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227,
             4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238,
             4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249,
             4250, 4251, 4252, 4253, 4254, 4255, 4256, 4257, 4258, 4259, 4260,
             4261, 4262, 4263, 4264, 4265, 4266, 4267],
            dtype='int64'),
 'NV': Int64Index([4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275, 4276, 4277, 4278,
             4279, 4280, 4281, 4282, 4283, 4284, 4285, 4286, 4287, 4288, 4289,
             4290, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299, 4300,
             4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311,
             4312],
            dtype='int64'),
 'NY': Int64Index([4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322,
             ...
             4762, 4763, 4764, 4765, 4766, 4767, 4768, 4769, 4770, 4771],
            dtype='int64', length=459),
 'OH': Int64Index([4772, 4773, 4774, 4775, 4776, 4777, 4778, 4779, 4780, 4781,
             ...
             5111, 5112, 5113, 5114, 5115, 5116, 5117, 5118, 5119, 5120],
            dtype='int64', length=349),
 'OK': Int64Index([5121, 5122, 5123, 5124, 5125, 5126, 5127, 5128, 5129, 5130,
             ...
             5256, 5257, 5258, 5259, 5260, 5261, 5262, 5263, 5264, 5265],
            dtype='int64', length=145),
 'OR': Int64Index([5266, 5267, 5268, 5269, 5270, 5271, 5272, 5273, 5274, 5275, 5276,
             5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285, 5286, 5287,
             5288, 5289, 5290, 5291, 5292, 5293, 5294, 5295, 5296, 5297, 5298,
             5299, 5300, 5301, 5302, 5303, 5304, 5305, 5306, 5307, 5308, 5309,
             5310, 5311, 5312, 5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320,
             5321, 5322, 5323, 5324, 5325, 5326, 5327, 5328, 5329, 5330, 5331,
             5332, 5333, 5334, 5335, 5336, 5337, 5338, 5339, 5340, 5341, 5342,
             5343, 5344, 5345, 5346, 5347, 5348, 5349, 5350, 5351, 5352, 5353,
             5354, 5355, 5356, 5357, 5358, 5359, 5360],
            dtype='int64'),
 'PA': Int64Index([5361, 5362, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370,
             ...
             5732, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741],
            dtype='int64', length=381),
 'PR': Int64Index([5742, 5743, 5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751,
             ...
             5882, 5883, 5884, 5885, 5886, 5887, 5888, 5889, 5890, 5891],
            dtype='int64', length=150),
 'PW': Int64Index([5892], dtype='int64'),
 'RI': Int64Index([5893, 5894, 5895, 5896, 5897, 5898, 5899, 5900, 5901, 5902, 5903,
             5904, 5905, 5906, 5907, 5908, 5909, 5910, 5911, 5912, 5913, 5914,
             5915, 5916],
            dtype='int64'),
 'SC': Int64Index([5917, 5918, 5919, 5920, 5921, 5922, 5923, 5924, 5925, 5926,
             ...
             6015, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024],
            dtype='int64', length=108),
 'SD': Int64Index([6025, 6026, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035,
             6036, 6037, 6038, 6039, 6040, 6041, 6042, 6043, 6044, 6045, 6046,
             6047, 6048, 6049, 6050, 6051, 6052, 6053, 6054, 6055],
            dtype='int64'),
 'TN': Int64Index([6056, 6057, 6058, 6059, 6060, 6061, 6062, 6063, 6064, 6065,
             ...
             6228, 6229, 6230, 6231, 6232, 6233, 6234, 6235, 6236, 6237],
            dtype='int64', length=182),
 'TX': Int64Index([6238, 6239, 6240, 6241, 6242, 6243, 6244, 6245, 6246, 6247,
             ...
             6676, 6677, 6678, 6679, 6680, 6681, 6682, 6683, 6684, 6685],
            dtype='int64', length=448),
 'UT': Int64Index([6686, 6687, 6688, 6689, 6690, 6691, 6692, 6693, 6694, 6695, 6696,
             6697, 6698, 6699, 6700, 6701, 6702, 6703, 6704, 6705, 6706, 6707,
             6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718,
             6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729,
             6730, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6738, 6739, 6740,
             6741, 6742, 6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751,
             6752, 6753, 6754, 6755, 6756, 6757, 6758, 6759, 6760, 6761, 6762,
             6763, 6764],
            dtype='int64'),
 'VA': Int64Index([6765, 6766, 6767, 6768, 6769, 6770, 6771, 6772, 6773, 6774,
             ...
             6927, 6928, 6929, 6930, 6931, 6932, 6933, 6934, 6935, 6936],
            dtype='int64', length=172),
 'VI': Int64Index([6937], dtype='int64'),
 'VT': Int64Index([6938, 6939, 6940, 6941, 6942, 6943, 6944, 6945, 6946, 6947, 6948,
             6949, 6950, 6951, 6952, 6953, 6954, 6955, 6956, 6957, 6958, 6959,
             6960, 6961, 6962, 6963],
            dtype='int64'),
 'WA': Int64Index([6964, 6965, 6966, 6967, 6968, 6969, 6970, 6971, 6972, 6973,
             ...
             7075, 7076, 7077, 7078, 7079, 7080, 7081, 7082, 7083, 7084],
            dtype='int64', length=121),
 'WI': Int64Index([7085, 7086, 7087, 7088, 7089, 7090, 7091, 7092, 7093, 7094,
             ...
             7188, 7189, 7190, 7191, 7192, 7193, 7194, 7195, 7196, 7197],
            dtype='int64', length=113),
 'WV': Int64Index([7198, 7199, 7200, 7201, 7202, 7203, 7204, 7205, 7206, 7207, 7208,
             7209, 7210, 7211, 7212, 7213, 7214, 7215, 7216, 7217, 7218, 7219,
             7220, 7221, 7222, 7223, 7224, 7225, 7226, 7227, 7228, 7229, 7230,
             7231, 7232, 7233, 7234, 7235, 7236, 7237, 7238, 7239, 7240, 7241,
             7242, 7243, 7244, 7245, 7246, 7247, 7248, 7249, 7250, 7251, 7252,
             7253, 7254, 7255, 7256, 7257, 7258, 7259, 7260, 7261, 7262, 7263,
             7264, 7265, 7266, 7267, 7268, 7269, 7270],
            dtype='int64'),
 'WY': Int64Index([7271, 7272, 7273, 7274, 7275, 7276, 7277, 7278, 7279, 7280, 7281], dtype='int64')}

The `groupby()` method returns a `DataFrameGroupBy` object. One of the attributes of that object is `groups`. When accessed, this attribute provides a *dict* object with the **label** of each group and the **corresponding index values** in the original records in the *DataFrame* that belong to that group.

If you look above, you can see there is a group labelled 'AK' with index values `[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`. This indicates the the records with those index values had a 'state' column value == 'AK'.

<div class="alert alert-block alert-info">
<p>
We will learn more about the `DataFrameGroupBy` object shortly.
    </p>
</div>

### Multi Column Grouping

You can also specify multiple columns if you wish to split your data up in multiple levels:

In [4]:
# Group rows by the values of the 'state' AND 'city' columns
colleges_by_state_and_city = college_scorecard.groupby(['state', 'city'])
colleges_by_state_and_city.groups

{('AK', 'Anchorage'): Int64Index([1, 3, 5, 7], dtype='int64'),
 ('AK', 'Barrow'): Int64Index([6], dtype='int64'),
 ('AK', 'Fairbanks'): Int64Index([8], dtype='int64'),
 ('AK', 'Juneau'): Int64Index([9], dtype='int64'),
 ('AK', 'Palmer'): Int64Index([0], dtype='int64'),
 ('AK', 'Seward'): Int64Index([4], dtype='int64'),
 ('AK', 'Soldotna'): Int64Index([2], dtype='int64'),
 ('AL', 'Albertville'): Int64Index([61], dtype='int64'),
 ('AL', 'Alexander City'): Int64Index([25], dtype='int64'),
 ('AL', 'Andalusia'): Int64Index([58], dtype='int64'),
 ('AL', 'Athens'): Int64Index([16], dtype='int64'),
 ('AL', 'Auburn'): Int64Index([17], dtype='int64'),
 ('AL', 'Bay Minette'): Int64Index([52], dtype='int64'),
 ('AL', 'Bessemer'): Int64Index([47], dtype='int64'),
 ('AL',
  'Birmingham'): Int64Index([20, 23, 36, 44, 54, 57, 64, 71, 76, 77, 81, 89, 94, 97], dtype='int64'),
 ('AL', 'Boaz'): Int64Index([74], dtype='int64'),
 ('AL', 'Brewton'): Int64Index([53], dtype='int64'),
 ('AL', 'Daphne'): Int64Index([87], dtype='int64'),
 ('AL', 'Dothan'): Int64Index([11, 31, 38], dtype='int64'),
 ('AL', 'Enterprise'): Int64Index([29], dtype='int64'),
 ('AL', 'Evergreen'): Int64Index([69], dtype='int64'),
 ('AL', 'Fairfield'): Int64Index([60], dtype='int64'),
 ('AL', 'Florence'): Int64Index([43, 93], dtype='int64'),
 ('AL', 'Foley'): Int64Index([32], dtype='int64'),
 ('AL', 'Gadsden'): Int64Index([37], dtype='int64'),
 ('AL', 'Gardendale'): Int64Index([13], dtype='int64'),
 ('AL', 'Hanceville'): Int64Index([39], dtype='int64'),
 ('AL', 'Hoover'): Int64Index([66, 68], dtype='int64'),
 ('AL', 'Huntsville'): Int64Index([46, 50, 65, 83, 90, 98], dtype='int64'),
 ('AL', 'Jacksonville'): Int64Index([51], dtype='int64'),
 ('AL', 'Jasper'): Int64Index([19], dtype='int64'),
 ('AL', 'Livingston'): Int64Index([96], dtype='int64'),
 ('AL', 'Madison'): Int64Index([48, 67], dtype='int64'),
 ('AL', 'Marion'): Int64Index([56, 59], dtype='int64'),
 ('AL',
  'Mobile'): Int64Index([21, 22, 24, 33, 49, 70, 79, 91, 95, 99], dtype='int64'),
 ('AL', 'Monroeville'): Int64Index([12], dtype='int64'),
 ('AL', 'Montevallo'): Int64Index([92], dtype='int64'),
 ('AL',
  'Montgomery'): Int64Index([14, 15, 18, 30, 34, 35, 41, 42, 45, 75, 100], dtype='int64'),
 ('AL', 'Muscle Shoals'): Int64Index([63], dtype='int64'),
 ('AL', 'Normal'): Int64Index([10], dtype='int64'),
 ('AL', 'Northport'): Int64Index([88], dtype='int64'),
 ('AL', 'Orange Beach'): Int64Index([27], dtype='int64'),
 ('AL', 'Phenix City'): Int64Index([26], dtype='int64'),
 ('AL', 'Rainsville'): Int64Index([62], dtype='int64'),
 ('AL', 'Selma'): Int64Index([28, 40, 72], dtype='int64'),
 ('AL', 'Talladega'): Int64Index([82], dtype='int64'),
 ('AL', 'Tanner'): Int64Index([55], dtype='int64'),
 ('AL', 'Troy'): Int64Index([85], dtype='int64'),
 ('AL', 'Tuscaloosa'): Int64Index([73, 80, 84], dtype='int64'),
 ('AL', 'Tuskegee'): Int64Index([86], dtype='int64'),
 ('AL', 'Wadley'): Int64Index([78], dtype='int64'),
 ('AR', 'Arkadelphia'): Int64Index([101, 134, 150], dtype='int64'),
 ('AR', 'Batesville'): Int64Index([143, 173], dtype='int64'),
 ('AR', 'Beebe'): Int64Index([110], dtype='int64'),
 ('AR', 'Bentonville'): Int64Index([148], dtype='int64'),
 ('AR', 'Blytheville'): Int64Index([108], dtype='int64'),
 ('AR', 'Camden'): Int64Index([166], dtype='int64'),
 ('AR', 'Clarksville'): Int64Index([180], dtype='int64'),
 ('AR', 'Conway'): Int64Index([105, 117, 123, 135, 178], dtype='int64'),
 ('AR', 'Crossett'): Int64Index([126], dtype='int64'),
 ('AR', 'De Queen'): Int64Index([125], dtype='int64'),
 ('AR', 'El Dorado'): Int64Index([155, 163], dtype='int64'),
 ('AR', 'Fayetteville'): Int64Index([120, 152, 157, 169], dtype='int64'),
 ('AR', 'Forrest City'): Int64Index([128, 130], dtype='int64'),
 ('AR', 'Fort Smith'): Int64Index([102, 115, 177], dtype='int64'),
 ('AR', 'Ft Smith'): Int64Index([129], dtype='int64'),
 ('AR', 'Harrison'): Int64Index([147], dtype='int64'),
 ('AR', 'Helena'): Int64Index([154], dtype='int64'),
 ('AR', 'Hope'): Int64Index([174], dtype='int64'),
 ('AR', 'Hot Springs'): Int64Index([137, 145], dtype='int64'),
 ('AR', 'Jacksonville'): Int64Index([116], dtype='int64'),
 ('AR', 'Jonesboro'): Int64Index([111], dtype='int64'),
 ('AR',
  'Little Rock'): Int64Index([103, 106, 118, 131, 136, 139, 153, 158, 159, 167, 170, 176, 179,
             181, 182],
            dtype='int64'),
 ('AR', 'Magnolia'): Int64Index([165], dtype='int64'),
 ('AR', 'Malvern'): Int64Index([124], dtype='int64'),
 ('AR', 'Melbourne'): Int64Index([151], dtype='int64'),
 ('AR', 'Mena'): Int64Index([160], dtype='int64'),
 ('AR', 'Monticello'): Int64Index([144, 171], dtype='int64'),
 ('AR', 'Morrilton'): Int64Index([175], dtype='int64'),
 ('AR', 'Mountain Home'): Int64Index([112], dtype='int64'),
 ('AR', 'N Little Rock'): Int64Index([162], dtype='int64'),
 ('AR', 'Newport'): Int64Index([113], dtype='int64'),
 ('AR', 'North  Little Rock'): Int64Index([142], dtype='int64'),
 ('AR',
  'North Little Rock'): Int64Index([107, 138, 146, 156, 168], dtype='int64'),
 ('AR', 'Paragould'): Int64Index([127], dtype='int64'),
 ('AR', 'Pine Bluff'): Int64Index([140, 164, 172], dtype='int64'),
 ('AR', 'Pocahontas'): Int64Index([119], dtype='int64'),
 ('AR', 'Rogers'): Int64Index([121], dtype='int64'),
 ('AR', 'Russellville'): Int64Index([104, 114], dtype='int64'),
 ('AR', 'Searcy'): Int64Index([133, 161], dtype='int64'),
 ('AR', 'Siloam Springs'): Int64Index([141], dtype='int64'),
 ('AR', 'Springdale'): Int64Index([122, 132, 149], dtype='int64'),
 ('AR', 'Walnut Ridge'): Int64Index([183], dtype='int64'),
 ('AR', 'West Memphis'): Int64Index([109], dtype='int64'),
 ('AS', 'Pago Pago'): Int64Index([184], dtype='int64'),
 ('AZ', 'Avondale'): Int64Index([240, 247, 310], dtype='int64'),
 ('AZ', 'Casa Grande'): Int64Index([309], dtype='int64'),
 ('AZ', 'Chandler'): Int64Index([225, 241, 254, 259, 301], dtype='int64'),
 ('AZ', 'Clarkdale'): Int64Index([201], dtype='int64'),
 ('AZ', 'Coolidge'): Int64Index([223], dtype='int64'),
 ('AZ', 'Douglas'): Int64Index([227], dtype='int64'),
 ('AZ', 'Flagstaff'): Int64Index([228, 229, 242, 272], dtype='int64'),
 ('AZ', 'Fort Mohave'): Int64Index([185], dtype='int64'),
 ('AZ', 'Fountain Hills'): Int64Index([189], dtype='int64'),
 ('AZ', 'Glendale'): Int64Index([195, 197, 206, 253, 268, 304], dtype='int64'),
 ('AZ', 'Holbrook'): Int64Index([273], dtype='int64'),
 ('AZ', 'Kingman'): Int64Index([186, 269], dtype='int64'),
 ('AZ', 'Lake Havasu City'): Int64Index([226], dtype='int64'),
 ('AZ',
  'Mesa'): Int64Index([198, 203, 209, 218, 237, 248, 267, 282, 283, 289], dtype='int64'),
 ('AZ', 'Peoria'): Int64Index([306], dtype='int64'),
 ('AZ',
  'Phoenix'): Int64Index([187, 188, 190, 191, 192, 196, 202, 207, 210, 213, 216, 219, 221,
             224, 230, 231, 235, 243, 244, 249, 250, 252, 255, 261, 262, 266,
             270, 274, 275, 276, 278, 279, 280, 287, 290, 292, 294, 297, 302,
             311, 315],
            dtype='int64'),
 ('AZ', 'Prescott'): Int64Index([239, 245, 285, 318], dtype='int64'),
 ('AZ', 'Prescott Valley'): Int64Index([271], dtype='int64'),
 ('AZ', 'Safford'): Int64Index([256], dtype='int64'),
 ('AZ',
  'Scottsdale'): Int64Index([199, 204, 233, 251, 260, 265, 277, 295], dtype='int64'),
 ('AZ', 'Sells'): Int64Index([305], dtype='int64'),
 ('AZ',
  'Tempe'): Int64Index([205, 211, 214, 222, 232, 258, 263, 293, 296, 298, 299, 312, 314,
             316, 317],
            dtype='int64'),
 ('AZ', 'Thatcher'): Int64Index([238], dtype='int64'),
 ('AZ', 'Tsaile'): Int64Index([236], dtype='int64'),
 ('AZ',
  'Tucson'): Int64Index([193, 194, 200, 212, 215, 217, 220, 234, 246, 257, 264, 281, 284,
             286, 288, 291, 300, 303, 307, 308, 313],
            dtype='int64'),
 ('AZ', 'Yuma'): Int64Index([208], dtype='int64'),
 ('CA', 'ARTESIA'): Int64Index([357], dtype='int64'),
 ('CA', 'Alameda'): Int64Index([366, 383, 520], dtype='int64'),
 ('CA', 'Alhambra'): Int64Index([334, 572, 831, 833], dtype='int64'),
 ('CA', 'Aliso Viejo'): Int64Index([909], dtype='int64'),
 ('CA',
  'Anaheim'): Int64Index([341, 399, 416, 418, 427, 457, 573, 847, 912, 916, 1001, 1012], dtype='int64'),
 ('CA', 'Angwin'): Int64Index([806], dtype='int64'),
 ('CA', 'Aptos'): Int64Index([422], dtype='int64'),
 ('CA', 'Arcata'): Int64Index([640], dtype='int64'),
 ('CA', 'Atherton'): Int64Index([740], dtype='int64'),
 ('CA', 'Azusa'): Int64Index([386], dtype='int64'),
 ('CA', 'Bakersfield'): Int64Index([388, 406, 442, 748, 890], dtype='int64'),
 ('CA', 'Baldwin Park'): Int64Index([389], dtype='int64'),
 ('CA', 'Barstow'): Int64Index([390], dtype='int64'),
 ('CA', 'Beaumont'): Int64Index([392, 511], dtype='int64'),
 ('CA', 'Belmont'): Int64Index([792], dtype='int64'),
 ('CA',
  'Berkeley'): Int64Index([326, 339, 397, 501, 558, 616, 802, 804, 925, 940, 968], dtype='int64'),
 ('CA', 'Beverly Hills'): Int64Index([324, 998], dtype='int64'),
 ('CA', 'Blue Lake'): Int64Index([551], dtype='int64'),
 ('CA', 'Blythe'): Int64Index([811], dtype='int64'),
 ('CA', 'Burbank'): Int64Index([482, 649, 722, 726, 779, 1018], dtype='int64'),
 ('CA', 'Calexico'): Int64Index([662], dtype='int64'),
 ('CA', 'Camarillo'): Int64Index([443], dtype='int64'),
 ('CA', 'Campbell'): Int64Index([661], dtype='int64'),
 ('CA', 'Canoga Park'): Int64Index([321, 425], dtype='int64'),
 ('CA', 'Canyon Country'): Int64Index([500, 594], dtype='int64'),
 ('CA', 'Carlsbad'): Int64Index([607, 614], dtype='int64'),
 ('CA', 'Carpinteria'): Int64Index([807], dtype='int64'),
 ('CA', 'Carson'): Int64Index([433, 445, 650, 856], dtype='int64'),
 ('CA', 'Cathedral City'): Int64Index([736], dtype='int64'),
 ('CA', 'Cerritos'): Int64Index([600, 827], dtype='int64'),
 ('CA', 'Chatsworth'): Int64Index([829], dtype='int64'),
 ('CA', 'Chico'): Int64Index([444], dtype='int64'),
 ('CA', 'Chula Vista'): Int64Index([407, 830, 920, 959], dtype='int64'),
 ('CA', 'Citrus Heights'): Int64Index([469, 504], dtype='int64'),
 ('CA', 'City of Industry'): Int64Index([574], dtype='int64'),
 ('CA',
  'Claremont'): Int64Index([506, 507, 508, 621, 684, 832, 838, 899], dtype='int64'),
 ('CA', 'Clovis'): Int64Index([408, 509, 647, 666, 749, 882], dtype='int64'),
 ('CA', 'Coachella'): Int64Index([483], dtype='int64'),
 ('CA', 'Coalinga'): Int64Index([1002], dtype='int64'),
 ('CA', 'Colton'): Int64Index([513, 597, 927], dtype='int64'),
 ('CA', 'Commerce'): Int64Index([777], dtype='int64'),
 ('CA', 'Compton'): Int64Index([564], dtype='int64'),
 ('CA', 'Concord'): Int64Index([622, 667, 767, 815], dtype='int64'),
 ('CA', 'Corona'): Int64Index([668, 863], dtype='int64'),
 ('CA', 'Costa Mesa'): Int64Index([797, 800, 817, 981, 990], dtype='int64'),
 ('CA', 'Culver City'): Int64Index([360, 669, 1004], dtype='int64'),
 ('CA', 'Cupertino'): Int64Index([550], dtype='int64'),
 ('CA', 'Cypress'): Int64Index([548, 950], dtype='int64'),
 ('CA', 'Daly City'): Int64Index([634], dtype='int64'),
 ('CA', 'Danville'): Int64Index([996], dtype='int64'),
 ('CA', 'Davis'): Int64Index([969], dtype='int64'),
 ('CA', 'Downey'): Int64Index([561], dtype='int64'),
 ('CA', 'El Cajon'): Int64Index([333, 393, 547, 617, 917], dtype='int64'),
 ('CA', 'El Centro'): Int64Index([484], dtype='int64'),
 ('CA', 'El Monte'): Int64Index([845], dtype='int64'),
 ('CA', 'Elk Grove'): Int64Index([651], dtype='int64'),
 ('CA', 'Emeryville'): Int64Index([584, 776], dtype='int64'),
 ('CA', 'Escondido'): Int64Index([632, 682, 1010], dtype='int64'),
 ('CA', 'Eureka'): Int64Index([525, 599], dtype='int64'),
 ('CA', 'Fair Oaks'): Int64Index([855], dtype='int64'),
 ('CA', 'Fairfield'): Int64Index([652, 745, 910], dtype='int64'),
 ('CA', 'Folsom'): Int64Index([595], dtype='int64'),
 ('CA', 'Fontana'): Int64Index([864, 1006], dtype='int64'),
 ('CA', 'Fountain Valley'): Int64Index([514, 515, 757], dtype='int64'),
 ('CA', 'Fremont'): Int64Index([796, 960, 1021], dtype='int64'),
 ('CA',
  'Fresno'): Int64Index([428, 447, 601, 602, 623, 719, 723, 819, 905, 954], dtype='int64'),
 ('CA',
  'Fullerton'): Int64Index([448, 604, 615, 638, 734, 1007], dtype='int64'),
 ('CA',
  'Garden Grove'): Int64Index([328, 426, 463, 534, 545, 930], dtype='int64'),
 ('CA', 'Gardena'): Int64Index([575, 955], dtype='int64'),
 ('CA', 'Gilroy'): Int64Index([606], dtype='int64'),
 ('CA', 'Glendale'): Int64Index([353, 404, 608, 609, 784], dtype='int64'),
 ('CA', 'Glendora'): Int64Index([503], dtype='int64'),
 ('CA', 'Gold River'): Int64Index([419], dtype='int64'),
 ('CA', 'Granada Hills'): Int64Index([780], dtype='int64'),
 ('CA', 'Hanford'): Int64Index([693], dtype='int64'),
 ('CA', 'Hayward'): Int64Index([446, 494, 624, 699, 962], dtype='int64'),
 ('CA', 'Hemet'): Int64Index([727], dtype='int64'),
 ('CA', 'Hollywood'): Int64Index([566, 610, 707, 771], dtype='int64'),
 ('CA', 'Huntington Beach'): Int64Index([613, 931], dtype='int64'),
 ('CA', 'Huntington Park'): Int64Index([347, 643, 958], dtype='int64'),
 ('CA', 'Imperial'): Int64Index([644], dtype='int64'),
 ('CA', 'Inglewood'): Int64Index([922], dtype='int64'),
 ('CA',
  'Irvine'): Int64Index([405, 538, 587, 665, 923, 933, 971], dtype='int64'),
 ('CA', 'Irwindale'): Int64Index([843], dtype='int64'),
 ('CA', 'Joshua Tree'): Int64Index([540], dtype='int64'),
 ('CA', 'Kentfield'): Int64Index([521], dtype='int64'),
 ('CA', 'La Jolla'): Int64Index([778, 975], dtype='int64'),
 ('CA', 'La Mesa'): Int64Index([432, 873], dtype='int64'),
 ('CA', 'La Mirada'): Int64Index([401], dtype='int64'),
 ('CA', 'La Puente'): Int64Index([619], dtype='int64'),
 ('CA', 'La Quinta'): Int64Index([510, 746], dtype='int64'),
 ('CA', 'La Verne'): Int64Index([980], dtype='int64'),
 ('CA', 'Laguna Beach'): Int64Index([686], dtype='int64'),
 ('CA', 'Laguna Hills'): Int64Index([337], dtype='int64'),
 ('CA', 'Lake Forest'): Int64Index([728], dtype='int64'),
 ('CA', 'Lancaster'): Int64Index([359, 464, 633, 688, 967], dtype='int64'),
 ('CA', 'Lathrop'): Int64Index([670], dtype='int64'),
 ('CA', 'Lemoore'): Int64Index([1003], dtype='int64'),
 ('CA', 'Livermore'): Int64Index([690], dtype='int64'),
 ('CA', 'Loma Linda'): Int64Index([702], dtype='int64'),
 ('CA',
  'Long Beach'): Int64Index([342, 449, 683, 703, 785, 1022], dtype='int64'),
 ('CA', 'Los Alamitos'): Int64Index([948], dtype='int64'),
 ('CA', 'Los Altos Hills'): Int64Index([596], dtype='int64'),
 ('CA',
  'Los Angeles'): Int64Index([ 319,  332,  338,  343,  350,  352,  356,  363,  380,  385,  403,
              420,  450,  465,  467,  477,  499,  512,  557,  560,  582,  586,
              659,  704,  706,  710,  713,  714,  717,  724,  729,  763,  794,
              798,  805,  808,  841,  859,  915,  919,  921,  934,  935,  963,
              964,  972,  985,  995, 1014, 1020, 1024, 1025],
            dtype='int64'),
 ('CA', 'Lynwood'): Int64Index([344], dtype='int64'),
 ('CA', 'Madera'): Int64Index([721], dtype='int64'),
 ('CA', 'Malibu'): Int64Index([828], dtype='int64'),
 ('CA', 'Manteca'): Int64Index([944], dtype='int64'),
 ('CA', 'Marysville'): Int64Index([1026], dtype='int64'),
 ('CA', 'Merced'): Int64Index([741, 750, 904, 973], dtype='int64'),
 ('CA', 'Milpitas'): Int64Index([630], dtype='int64'),
 ('CA', 'Mission Viejo'): Int64Index([858], dtype='int64'),
 ('CA', 'Modesto'): Int64Index([424, 533, 758, 783, 820, 945], dtype='int64'),
 ('CA', 'Monrovia'): Int64Index([766], dtype='int64'),
 ('CA', 'Monterey'): Int64Index([744, 760], dtype='int64'),
 ('CA', 'Monterey Park'): Int64Index([562], dtype='int64'),
 ('CA', 'Moorpark'): Int64Index([761], dtype='int64'),
 ('CA', 'Moraga'): Int64Index([861], dtype='int64'),
 ('CA', 'Moreno Valley'): Int64Index([730, 762, 860], dtype='int64'),
 ('CA', 'Napa'): Int64Index([698, 773], dtype='int64'),
 ('CA', 'National City'): Int64Index([394, 671], dtype='int64'),
 ('CA', 'Newport Beach'): Int64Index([657], dtype='int64'),
 ('CA', 'Norco'): Int64Index([782], dtype='int64'),
 ('CA',
  'North Hollywood'): Int64Index([367, 410, 535, 605, 914, 999], dtype='int64'),
 ('CA', 'Northridge'): Int64Index([452], dtype='int64'),
 ('CA', 'Norwalk'): Int64Index([382, 480], dtype='int64'),
 ('CA',
  'Oakland'): Int64Index([323, 636, 660, 672, 689, 701, 742, 753, 759, 868, 898, 926, 936], dtype='int64'),
 ('CA', 'Oceanside'): Int64Index([598, 737, 754, 795], dtype='int64'),
 ('CA', 'Ontario'): Int64Index([345, 362, 576, 577, 834, 1000], dtype='int64'),
 ('CA',
  'Orange'): Int64Index([364, 468, 497, 516, 653, 673, 897, 913], dtype='int64'),
 ('CA', 'Oroville'): Int64Index([421], dtype='int64'),
 ('CA', 'Oxnard'): Int64Index([485, 674, 756, 799], dtype='int64'),
 ('CA', 'Palm Desert'): Int64Index([524, 664, 751], dtype='int64'),
 ('CA', 'Palm Springs'): Int64Index([411, 439, 496], dtype='int64'),
 ('CA', 'Palo Alto'): Int64Index([810, 908], dtype='int64'),
 ('CA', 'Panorama City'): Int64Index([774], dtype='int64'),
 ('CA', 'Paramount'): Int64Index([645], dtype='int64'),
 ('CA',
  'Pasadena'): Int64Index([375, 435, 462, 603, 648, 695, 705, 786, 803, 816, 821, 846], dtype='int64'),
 ('CA', 'Paso Robles'): Int64Index([553], dtype='int64'),
 ('CA', 'Pico Rivera'): Int64Index([549], dtype='int64'),
 ('CA', 'Pittsburg'): Int64Index([716], dtype='int64'),
 ('CA', 'Pleasant Hill'): Int64Index([470, 555, 681, 818], dtype='int64'),
 ('CA', 'Pleasanton'): Int64Index([612], dtype='int64'),
 ('CA',
  'Pomona'): Int64Index([441, 471, 554, 787, 839, 943, 1008], dtype='int64'),
 ('CA', 'Porterville'): Int64Index([840], dtype='int64'),
 ('CA', 'Poway'): Int64Index([395], dtype='int64'),
 ('CA', 'Quincy'): Int64Index([590], dtype='int64'),
 ('CA', 'Rancho Cordova'): Int64Index([626, 675, 775], dtype='int64'),
 ('CA', 'Rancho Cucamonga'): Int64Index([495, 585, 965], dtype='int64'),
 ('CA', 'Rancho Palos Verdes'): Int64Index([735], dtype='int64'),
 ('CA', 'Redding'): Int64Index([900, 901, 902, 906], dtype='int64'),
 ('CA', 'Redlands'): Int64Index([376, 528, 531, 865, 982], dtype='int64'),
 ('CA', 'Redondo Beach'): Int64Index([848], dtype='int64'),
 ('CA', 'Redwood City'): Int64Index([461], dtype='int64'),
 ('CA', 'Reedley'): Int64Index([849], dtype='int64'),
 ('CA', 'Reseda'): Int64Index([358, 578], dtype='int64'),
 ('CA', 'Ridgecrest'): Int64Index([481], dtype='int64'),
 ('CA',
  'Riverside'): Int64Index([346, 412, 423, 532, 654, 685, 788, 835, 851, 852, 866, 974], dtype='int64'),
 ('CA', 'Rocklin'): Int64Index([903, 1017], dtype='int64'),
 ('CA', 'Rohnert Park'): Int64Index([396, 911], dtype='int64'),
 ('CA', 'Rosemead'): Int64Index([853, 988], dtype='int64'),
 ('CA', 'Roseville'): Int64Index([627, 655], dtype='int64'),
 ('CA',
  'Sacramento'): Int64Index([354, 371, 377, 413, 453, 472, 486, 498, 541, 543, 570, 591, 658,
             696, 731, 769, 772, 822, 857, 966],
            dtype='int64'),
 ('CA', 'Salida'): Int64Index([409, 625], dtype='int64'),
 ('CA', 'Salinas'): Int64Index([479, 487, 620, 628, 862, 997], dtype='int64'),
 ('CA', 'San Anselmo'): Int64Index([881], dtype='int64'),
 ('CA',
  'San Bernardino'): Int64Index([368, 454, 488, 536, 579, 676, 869], dtype='int64'),
 ('CA', 'San Bruno'): Int64Index([907], dtype='int64'),
 ('CA',
  'San Diego'): Int64Index([336, 365, 372, 378, 381, 384, 398, 414, 431, 438, 458, 489, 518,
             537, 552, 588, 639, 663, 770, 781, 801, 823, 836, 837, 871, 872,
             874, 875, 876, 942, 949, 983],
            dtype='int64'),
 ('CA', 'San Dimas'): Int64Index([387, 677, 680, 700], dtype='int64'),
 ('CA', 'San Fernando'): Int64Index([325], dtype='int64'),
 ('CA',
  'San Francisco'): Int64Index([322, 348, 349, 373, 391, 429, 434, 502, 505, 589, 611, 629, 697,
             732, 743, 877, 878, 879, 880, 970, 976, 984],
            dtype='int64'),
 ('CA', 'San Jacinto'): Int64Index([329, 765], dtype='int64'),
 ('CA',
  'San Jose'): Int64Index([473, 491, 517, 583, 885, 886, 938, 939, 1009], dtype='int64'),
 ('CA', 'San Leandro'): Int64Index([474, 791], dtype='int64'),
 ('CA', 'San Luis Obispo'): Int64Index([440, 478, 546, 692], dtype='int64'),
 ('CA', 'San Marcos'): Int64Index([430, 455, 812, 813, 986], dtype='int64'),
 ('CA', 'San Mateo'): Int64Index([522, 618], dtype='int64'),

As you can see, each group now has a multi-part label. Logically, as the number of grouping levels increase, the number of rows in each group will decrease since they are being distributed to a greater number of groups.

## *DataFrameGroupBy* Objects

We mentioned previously that the `groupby()` method returns a *DataFrameGroupBy* object. In this section, we will explore some of the other attributes of this type.

### Column Indexing
You can perform indexing on *DataFrameGroupBy* objects, just like you can on a regular *DataFrame*. 

In order to demonstrate this functionality, we will also have to apply some sort of aggregation.  I'll get the median value of each column for each group.

In [5]:
# Select the median value of multiple columns 
# from colleges_by_state_and_city
colleges_by_state_and_city[
    ['full_time_retention_rate_4_year', 
     'average_net_price_public']].median()[:15]

## Note that this is equivalent to 
# college_scorecard.groupby(['state'])[['full_time_retention_rate_4_year', 'average_net_price_public']].median()[:15]

                      full_time_retention_rate_4_year  \
state city
AK    Anchorage                                0.7453
      Barrow                                      NaN
      Fairbanks                                0.7756
      Juneau                                   0.7167
      Palmer                                   0.3333
      Seward                                      NaN
      Soldotna                                    NaN
AL    Albertville                                 NaN
      Alexander City                              NaN
      Andalusia                                   NaN
      Athens                                      NaN
      Auburn                                   0.9052
      Bay Minette                                 NaN
      Bessemer                                    NaN
      Birmingham                               0.5000

                      average_net_price_public
state city
AK    Anchorage                         8661.0
      Barrow                            9598.0
      Fairbanks                         9188.0
      Juneau                            8971.0
      Palmer                               NaN
      Seward                               NaN
      Soldotna                             NaN
AL    Albertville                          NaN
      Alexander City                    6922.0
      Andalusia                         7748.0
      Athens                               NaN
      Auburn                           18644.0
      Bay Minette                       6675.0
      Bessemer                             NaN
      Birmingham                        9207.0

### Method Dispatching
Waaaaaayyyy back in the very beginning of our course, we discussed how objects have data attributes and methods (actions). *DataFrameGroupBy* objects are no exception to this and we will be discussing their unique methods in the next section.

Before we get there though, we need to make note of a special behavior on *`DataFrameGroupBy`* objects called **method dispatching**.

Normally, when you request a method that doesn't exist on an object, you'd get a `AttributeError` exception:

In [6]:
#str.mean()

But with *DataFrameGroupBy* objects, any method not found on the object itself is forwarded (or "dispatched") to all the groups that it contains.

That is why we were able to ask Python to execute the `median()` method of a `colleges_by_state_and_city` object above and get something back: it is (1) "dispatching" the `median()` method call to each group, (2) collecting the results and (3) presenting them to us.

In [7]:
# Another Example of Dispatching
# Here the `max` method is dispatched to 
# each group and the results are collected
# and displayed
colleges_by_state.max()[:5]

,UNITID,OPEID,OPEID6,institution_name,city,predominant_degree_code,predominant_degree_desc,institutional_owner_code,institutional_owner_desc,locale,...,part_time_students_percentage,open_or_closed,average_net_price_public,average_net_price_private,pell_grant_receipents,full_time_retention_rate_4_year,full_time_retention_rate_less_than_4_year,part_time_rentention_rate_4_year,part_time_rentention_rate_less_than_4_year,students_with_federal_loans
state,,,,,,,,,,,,,,,,,,,,,
AK,442523,4138600,41386,University of Alaska Southeast,Soldotna,3,Certificate,3,Public,43,...,0.6817,1,9598.0,27226.0,0.8868,0.7756,1.0,1.0000,1.0000,0.7860
AL,483975,52098836,42267,Virginia College-Montgomery,Wadley,4,Unknown,3,Public,43,...,0.9100,1,20787.0,31954.0,1.0000,1.0000,1.0,1.0000,0.5714,1.0000
AR,484622,12098848,42200,Williams Baptist College,West Memphis,3,Certificate,3,Public,43,...,0.8289,1,14143.0,25197.0,0.9815,0.8667,1.0,1.0000,1.0000,1.0000
AS,240736,1001000,10010,American Samoa Community College,Pago Pago,2,Associates,1,Public,33,...,0.4389,1,1203.0,NaN,0.7245,1.0000,NaN,1.0000,NaN,0.0000
AZ,485306,10732934,42331,Yavapai College,Yuma,4,Graduate,3,Public,43,...,1.0000,1,15215.0,41525.0,0.9985,1.0000,1.0,0.6667,1.0000,0.9701

### Iteration
You can iterate (loop over) a *DataFrameGroupBy* to inspect or process groups one at a time. When iterating, each iteration will produce two values (see below): 
* The first value will be the name/label of the current group being processed.
* The second value will be the group itself, which is nothing more than a regular DataFrame object (which only contains the records from the original DataFrame that match the group criteria).

To demonstrate, let us create a couple of new objects here:
1. `college_loan_defaults_subset`: Will be a new dataframe with only a few columns
from `college_loan_defaults`. Having fewer columns will simplify our examples.
2. `college_loan_defaults_by_state`: A grouped by state version of `college_loan_defaults_subset`

In [8]:
college_loan_defaults_subset = college_loan_defaults[['name', 'state', 'year_1_default_rate']]

college_loan_defaults_by_state = college_loan_defaults_subset.groupby('state')

In [9]:
# Here we will iterate over the DataFrameGroupBy object
# to demonstrate that each iteration provides the group label and a DataFrame of "grouped" rows.
for name, item in college_loan_defaults_by_state:
    print(name, type(item))

AK <class 'pandas.core.frame.DataFrame'>
AL <class 'pandas.core.frame.DataFrame'>
AR <class 'pandas.core.frame.DataFrame'>
AZ <class 'pandas.core.frame.DataFrame'>
CA <class 'pandas.core.frame.DataFrame'>
CO <class 'pandas.core.frame.DataFrame'>
CT <class 'pandas.core.frame.DataFrame'>
DC <class 'pandas.core.frame.DataFrame'>
DE <class 'pandas.core.frame.DataFrame'>
FL <class 'pandas.core.frame.DataFrame'>
GA <class 'pandas.core.frame.DataFrame'>
GU <class 'pandas.core.frame.DataFrame'>
HI <class 'pandas.core.frame.DataFrame'>
IA <class 'pandas.core.frame.DataFrame'>
ID <class 'pandas.core.frame.DataFrame'>
IL <class 'pandas.core.frame.DataFrame'>
IN <class 'pandas.core.frame.DataFrame'>
KS <class 'pandas.core.frame.DataFrame'>
KY <class 'pandas.core.frame.DataFrame'>
LA <class 'pandas.core.frame.DataFrame'>
MA <class 'pandas.core.frame.DataFrame'>
MD <class 'pandas.core.frame.DataFrame'>
ME <class 'pandas.core.frame.DataFrame'>
MI <class 'pandas.core.frame.DataFrame'>
MN <class 'pandas.core.frame.DataFrame'>
MO <class 'pandas.core.frame.DataFrame'>
MS <class 'pandas.core.frame.DataFrame'>
MT <class 'pandas.core.frame.DataFrame'>
NC <class 'pandas.core.frame.DataFrame'>
ND <class 'pandas.core.frame.DataFrame'>
NE <class 'pandas.core.frame.DataFrame'>
NH <class 'pandas.core.frame.DataFrame'>
NJ <class 'pandas.core.frame.DataFrame'>
NM <class 'pandas.core.frame.DataFrame'>
NV <class 'pandas.core.frame.DataFrame'>
NY <class 'pandas.core.frame.DataFrame'>
OH <class 'pandas.core.frame.DataFrame'>
OK <class 'pandas.core.frame.DataFrame'>
OR <class 'pandas.core.frame.DataFrame'>
PA <class 'pandas.core.frame.DataFrame'>
PR <class 'pandas.core.frame.DataFrame'>
RI <class 'pandas.core.frame.DataFrame'>
SC <class 'pandas.core.frame.DataFrame'>
SD <class 'pandas.core.frame.DataFrame'>
TN <class 'pandas.core.frame.DataFrame'>
TX <class 'pandas.core.frame.DataFrame'>
UT <class 'pandas.core.frame.DataFrame'>
VA <class 'pandas.core.frame.DataFrame'>
VI <class 'pandas.core.frame.DataFrame'>
VT <class 'pandas.core.frame.DataFrame'>
WA <class 'pandas.core.frame.DataFrame'>
WI <class 'pandas.core.frame.DataFrame'>
WV <class 'pandas.core.frame.DataFrame'>
WY <class 'pandas.core.frame.DataFrame'>

### Methods of *DataFrameGroupBy* Objects
In this section of the tutorial, we will be covering the various operations built into the `DataFrameGroupBy` object type.

#### The `aggregate()` Method
At first, the `aggregate()` method appears to be quite similiar to what we just covered when we talked about method dispatching. It performs aggregations on the groups of a `DataFrameGroupBy` object.

In [10]:
# Simply invocation of the aggregate() method
colleges_by_state.aggregate('count')[:5]

,UNITID,OPEID,OPEID6,institution_name,city,url,predominant_degree_code,predominant_degree_desc,institutional_owner_code,institutional_owner_desc,...,pell_grant_receipents,full_time_retention_rate_4_year,full_time_retention_rate_less_than_4_year,part_time_rentention_rate_4_year,part_time_rentention_rate_less_than_4_year,students_with_federal_loans,median_student_earnings,median_student_debt,less_than_4_year_school_completion_rate,4_year_school_completion_rate
state,,,,,,,,,,,,,,,,,,,,,
AK,10,10,10,10,10,10,10,10,10,10,...,10,5,4,4,3,10,8,10,4,5
AL,91,91,91,91,91,91,91,91,91,91,...,90,39,45,30,28,90,80,91,44,41
AR,83,83,83,83,83,83,83,83,83,83,...,83,23,55,16,36,83,78,83,55,24
AS,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,0,1
AZ,134,134,134,134,134,134,134,134,134,134,...,126,32,72,15,40,126,108,134,79,37

The difference is that the `aggregate()` method gives you some additional options that are not available if you rely on method dispatching:

In [11]:
# You can pass multiple aggregates as a list.
# Here will we get various aggregates for the
# full_time_retention_rate_4_year series 
# of our colleges_by_state object.
colleges_by_state['full_time_retention_rate_4_year'].aggregate(
    ['mean', 'min', 'max'])[:5]

           mean     min     max
state
AK     0.663240  0.3333  0.7756
AL     0.615436  0.0000  1.0000
AR     0.650996  0.2564  0.8667
AS     1.000000  1.0000  1.0000
AZ     0.679600  0.2000  1.0000

If you would like to apply user friendly labels to the aggregation columns you can use the `rename()` method after the `aggregate()` method.

In the following example, we will use this procedure to rename the 'min', 'max', and 'mean' labels into something more meaningful:

In [12]:
# Using `rename()` to apply friendly names to output columns
colleges_by_state['full_time_retention_rate_4_year'].aggregate(
    ['mean', 'min', 'max']).rename(
        columns={'mean': 'Avg. Retention', 
                 'min': 'Low Retention', 
                 'max': 'High Retention'})[:5]

       Avg. Retention  Low Retention  High Retention
state
AK           0.663240         0.3333          0.7756
AL           0.615436         0.0000          1.0000
AR           0.650996         0.2564          0.8667
AS           1.000000         1.0000          1.0000
AZ           0.679600         0.2000          1.0000

Another way of invoking the `aggregate()` method is actually to use a `dict` object to specify which aggregation(s) to perform on what columns. You can use it to specify different aggregation(s) on a per-column basis.

Here I'll use it to get the high/low values for the SAT Average *Series* and the mean for student retention on our `colleges_by_state_and_city` object.

In [13]:
# Notice how using this style automatically filters
# out all columns you don't specify.
colleges_by_state_and_city.aggregate(
        {'sat_average': ['min', 'max'], 
         'full_time_retention_rate_4_year': 'mean'})[:15]

                     sat_average         full_time_retention_rate_4_year
                             min     max                            mean
state city
AK    Anchorage           1054.0  1054.0                        0.745300
      Barrow                 NaN     NaN                             NaN
      Fairbanks              NaN     NaN                        0.775600
      Juneau                 NaN     NaN                        0.716700
      Palmer                 NaN     NaN                        0.333300
      Seward                 NaN     NaN                             NaN
      Soldotna               NaN     NaN                             NaN
AL    Albertville            NaN     NaN                             NaN
      Alexander City         NaN     NaN                             NaN
      Andalusia              NaN     NaN                             NaN
      Athens                 NaN     NaN                             NaN
      Auburn              1215.0  1215.0                        0.905200
      Bay Minette            NaN     NaN                             NaN
      Bessemer               NaN     NaN                             NaN
      Birmingham           930.0  1181.0                        0.486522

#### The pandas DataFrameGroupBy `filter()` Method

You can the `DataFrameGroupBy` object's `filter()` method to generate a new dataframe after filtering out groups *(not individual records)* that don't pass a given criteria. It allows you to answer questions like this: *what states in have an average SAT score (for the state) of above 1150?*

To use this method, you **must pass in a function** that takes a single parameter, which is the group to evaluate. The function must return either `True`/`False` depending on whether or not the group should be kept or discarded in the resulting *DataFrame*.

So, with this in mind, let's define a `sat_filter` function so that groups with average SAT scores of less than 1100 are dropped from consideration.

In [14]:
# Notice how this function takes a group, which will be a DataFrame object.
def sat_filter(group):

    # If the group/dataframe object's sat_average series has a 
    # mean value of >= 1150, keep it, otherwise discard it.
    if group['sat_average'].mean() >= 1150:
        return True
    else:
        return False

And now let's use it on college_scorecard to see which rows remain in the new dataframe after applying the filter:

In [15]:
# To avoid clogging up the screen, I'm only going
# to display the `institution_name`, `sat_average`, `state`, and `city` fields 
filter_results = college_scorecard.groupby('state').filter(sat_filter)

filter_results[['state', 'city', 'institution_name', 'sat_average']]

,state,city,institution_name,sat_average
1246,DC,Washington,American University,1252.0
1247,DC,Washington,Bennett Career Institute,NaN
1248,DC,Washington,Career Technical Institute,NaN
1249,DC,Washington,Catholic University of America,1130.0
1250,DC,Washington,Gallaudet University,849.0
1251,DC,Washington,George Washington University,1297.0
1252,DC,Washington,Georgetown University,1414.0
1253,DC,Washington,Graduate School USA,NaN
1254,DC,Washington,Howard University,1105.0
1255,DC,Washington,Institute of World Politics,NaN
1256,DC,Washington,National Conservatory of Dramatic Arts,NaN
1257,DC,Washington,Pontifical Faculty of the Immaculate Conceptio...,NaN
1258,DC,Washington,Pontifical John Paul II Institute for Studies ...,NaN
1259,DC,Washington,Radians College,NaN
1260,DC,Washington,Strayer University-District of Columbia,NaN
1261,DC,Washington,Strayer University-Global Region,NaN
1262,DC,Washington,Technical Learning Centers Inc,NaN
1263,DC,Washington,The Chicago School of Professional Psychology ...,NaN
1264,DC,Washington,Trinity Washington University,NaN
1265,DC,Washington,University of Phoenix-Washington DC,NaN
1266,DC,Washington,University of the District of Columbia,NaN
1267,DC,Washington,University of the District of Columbia-David A...,NaN
1268,DC,Washington,University of the Potomac-Washington DC Campus,NaN
1269,DC,Washington,Wesley Theological Seminary,NaN
5893,RI,Providence,Brown University,1435.0
5894,RI,Smithfield,Bryant University,NaN
5895,RI,Warwick,Community College of Rhode Island,NaN
5896,RI,Providence,Empire Beauty School-Providence,NaN
5897,RI,Warwick,Empire Beauty School-Warwick,NaN
5898,RI,Newport,International Yacht Restoration School,NaN
5899,RI,Providence,Johnson & Wales University-Online,NaN
5900,RI,Providence,Johnson & Wales University-Providence,NaN
5901,RI,Lincoln,Lincoln Technical Institute-Lincoln,NaN
5902,RI,East Providence,MotoRing Technical Training Institute,NaN
5903,RI,East Greenwich,New England Institute of Technology,NaN
5904,RI,Pawtucket,New England Tractor Trailer Training School of...,NaN
5905,RI,Pawtucket,Newport School of Hairdressing-Main Campus,NaN
5906,RI,Cranston,Paul Mitchell the School-Rhode Island,NaN
5907,RI,Providence,Providence College,NaN
5908,RI,Providence,Rhode Island College,918.0
5909,RI,Providence,Rhode Island School of Design,1254.0
5910,RI,West Warwick,Ridley-Lowell Business & Technical Institute,NaN
5911,RI,Bristol,Roger Williams University,NaN
5912,RI,Bristol,Roger Williams University School of Law,NaN
5913,RI,Newport,Salve Regina University,NaN
5914,RI,North Providence,St Joseph School of Nursing,NaN
5915,RI,Cranston,Toni & Guy Hairdressing Academy-Cranston,NaN
5916,RI,Kingston,University of Rhode Island,1077.0

There are a couple of ***really*** important things to notice here:
1. Unlike the `aggregate()` method, the data returned here is not grouped by state as you probably expected it to be. The filter is used on a grouped *DataFrame*, but it returns a new "normal" *DataFrame*.
2. Notice that we have a bunch of rows for Washington DC and Rhode Island, but nothing else. If we've done things correctly, this would mean that the colleges in those two states have average SAT scores of at least 1150. It also means that all other state groups (and therefore their rows) were filtered out. 

Let's verify.

In [16]:
# Did our filter work as intended? Let's check the SAT average for each state.

# Get the mean of SAT Average for each state
# sort the values, reverse the order of the result
# and return the first 10 elements

# Wow, that is a mouthful isn't it?
college_scorecard.groupby('state')['sat_average'].mean().sort_values()[::-1][:10]

state
PW            NaN
MP            NaN
MH            NaN
GU            NaN
FM            NaN
AS            NaN
DC    1174.500000
RI    1171.000000
UT    1134.600000
MA    1121.729167
Name: sat_average, dtype: float64

You can see that Washington DC and Rhode Island are the only states with average SAT scores of at least 1150.

### Alternatively, use a lambda (anonymous) function in the filter

In [17]:
# Alternative way of filtering after grouping

filter_results_2 = college_scorecard.groupby('state').filter(lambda x: x['sat_average'].mean() > 1150)

filter_results_2[['state', 'city', 'institution_name', 'sat_average']]

,state,city,institution_name,sat_average
1246,DC,Washington,American University,1252.0
1247,DC,Washington,Bennett Career Institute,NaN
1248,DC,Washington,Career Technical Institute,NaN
1249,DC,Washington,Catholic University of America,1130.0
1250,DC,Washington,Gallaudet University,849.0
1251,DC,Washington,George Washington University,1297.0
1252,DC,Washington,Georgetown University,1414.0
1253,DC,Washington,Graduate School USA,NaN
1254,DC,Washington,Howard University,1105.0
1255,DC,Washington,Institute of World Politics,NaN
1256,DC,Washington,National Conservatory of Dramatic Arts,NaN
1257,DC,Washington,Pontifical Faculty of the Immaculate Conceptio...,NaN
1258,DC,Washington,Pontifical John Paul II Institute for Studies ...,NaN
1259,DC,Washington,Radians College,NaN
1260,DC,Washington,Strayer University-District of Columbia,NaN
1261,DC,Washington,Strayer University-Global Region,NaN
1262,DC,Washington,Technical Learning Centers Inc,NaN
1263,DC,Washington,The Chicago School of Professional Psychology ...,NaN
1264,DC,Washington,Trinity Washington University,NaN
1265,DC,Washington,University of Phoenix-Washington DC,NaN
1266,DC,Washington,University of the District of Columbia,NaN
1267,DC,Washington,University of the District of Columbia-David A...,NaN
1268,DC,Washington,University of the Potomac-Washington DC Campus,NaN
1269,DC,Washington,Wesley Theological Seminary,NaN
5893,RI,Providence,Brown University,1435.0
5894,RI,Smithfield,Bryant University,NaN
5895,RI,Warwick,Community College of Rhode Island,NaN
5896,RI,Providence,Empire Beauty School-Providence,NaN
5897,RI,Warwick,Empire Beauty School-Warwick,NaN
5898,RI,Newport,International Yacht Restoration School,NaN
5899,RI,Providence,Johnson & Wales University-Online,NaN
5900,RI,Providence,Johnson & Wales University-Providence,NaN
5901,RI,Lincoln,Lincoln Technical Institute-Lincoln,NaN
5902,RI,East Providence,MotoRing Technical Training Institute,NaN
5903,RI,East Greenwich,New England Institute of Technology,NaN
5904,RI,Pawtucket,New England Tractor Trailer Training School of...,NaN
5905,RI,Pawtucket,Newport School of Hairdressing-Main Campus,NaN
5906,RI,Cranston,Paul Mitchell the School-Rhode Island,NaN
5907,RI,Providence,Providence College,NaN
5908,RI,Providence,Rhode Island College,918.0
5909,RI,Providence,Rhode Island School of Design,1254.0
5910,RI,West Warwick,Ridley-Lowell Business & Technical Institute,NaN
5911,RI,Bristol,Roger Williams University,NaN
5912,RI,Bristol,Roger Williams University School of Law,NaN
5913,RI,Newport,Salve Regina University,NaN
5914,RI,North Providence,St Joseph School of Nursing,NaN
5915,RI,Cranston,Toni & Guy Hairdressing Academy-Cranston,NaN
5916,RI,Kingston,University of Rhode Island,1077.0

#### The `transform()` Method

Like the `filter()` method, the `transform()` method takes a **function** as an argument and generates a new *DataFrame*.  However, in the case of `transform()` the function is used to **modify the values of Series** in each group before combining the groups back together in the output *DataFrame*.

Your response to that sentence is probably *what THE HECK is he talking about!?*  

I don't blame you, it is very confusing at first. So, let's start with a practical example:
* Let's say that we wanted to center the data (subtract the mean) for the `year_1_default_rate` and `year_2_default_rate` *Series* of our `college_loan_defaults_by_state` DataFrameGroupBy object.

Just like with the `filter()` method, we have to create a function to use with the `transform()` method, but this time the function will evaluate each series (column) of each group, rather than the groups as a whole.

In [18]:
# This function will be called for each 
# series of each group in your DataFrameGroupBy object
def center_data(series):
    
    # It returns a new "transformed" version of the series.
    # Note that we could have done anything in here we wanted to.
    # For example, we could have used an if statement to only transform
    # certain columns/series.
    return series - series.mean()

Now let's pass our function to the `transform()` method and see what happens:

In [19]:
# We'll also use the rename() method to apply some friendly column names.
transformed_default_rates = college_loan_defaults_subset.groupby('state').transform(
    center_data).rename(columns={'year_1_default_rate': 'centered_year_1_default_rate'})
transformed_default_rates.head()

   centered_year_1_default_rate
0                     16.679912
1                      0.786567
2                     -9.209489
3                     24.831818
4                     12.159375

In [20]:
college_loan_defaults_subset.head()

                                        name state  year_1_default_rate
0                      A - TECHNICAL COLLEGE    CA                 27.1
1                 A & W HEALTHCARE EDUCATORS    LA                 12.9
2  A. T. STILL UNIVERSITY OF HEALTH SCIENCES    MO                  1.6
3                  AARON'S ACADEMY OF BEAUTY    MD                 35.8
4                         ABC BEAUTY COLLEGE    AR                 26.6

<div class="alert alert-block alert-info">
<p>
Our `college_loan_defaults_subset` dataframe included four columns: name, state, and year_1_default_rate.
</p> 
<p>But here in the returned dataframe we only have `centered_year_1_default_rate`. The reason for this is that the other two columns were strings, and you can't calculate the mean of a series of strings.
</p>
<p>
Because of this, Pandas just silently drops them from the new dataframe that is returned from the `transform()` method.
</p>
</div>

So now we have our centered rates in a new *DataFrame*. Let's merge together the result of our `transform()` method and our `college_loan_defaults_subset` *DataFrame*.

In [21]:
pd.merge(college_loan_defaults_subset, transformed_default_rates, 
         left_index=True, right_index=True)[:5]

,name,state,year_1_default_rate,centered_year_1_default_rate
0,A - TECHNICAL COLLEGE,CA,27.1,16.679912
1,A & W HEALTHCARE EDUCATORS,LA,12.9,0.786567
2,A. T. STILL UNIVERSITY OF HEALTH SCIENCES,MO,1.6,-9.209489
3,AARON'S ACADEMY OF BEAUTY,MD,35.8,24.831818
4,ABC BEAUTY COLLEGE,AR,26.6,12.159375

**Important Note**  
Remember that *pandas* has performed the centering of the data for each group separately. Therefore the values in the "centered_year_1_default_rate" column should reflect the difference between the uncentered `year_1_default_rate` column value and the mean of `year_1_default_rate` for the state to which that record belongs.

Let's verify that is correct. To do so, let's get the mean default rate for year 1 for each state and then manually perform some calculations to ensure everything is as expected.

In [22]:
# This code will extract the mean default rate for each
# of the states in our result above.
college_loan_defaults_subset.groupby('state').aggregate(
    {'year_1_default_rate': 'mean'}).loc[
        ['CA', 'LA', 'MO', 'MD', 'AR']].rename(
            columns={'year_1_default_rate': 'year_1_mean_default_rate'})

       year_1_mean_default_rate
state
CA                    10.420088
LA                    12.113433
MO                    10.809489
MD                    10.968182
AR                    14.440625

Go ahead and use your calculator to subtract the state `year_1_mean_default_rate` from the corresponding `year_1_default_rate` in our merge product above and you'll see they equal the `centered_year_1_default_rate`.

#### The `apply()` Method
The `apply()` method is really flexible, and you can do a lot of different things with it.

Like `filter()` and `transform()` you have to define a custom function to be "applied" to each group. Just like with the `filter()` method, the functions that you define for use with `apply()` will need to accept a group/*DataFrame* object.

Inside the function, you can either return another *DataFrame*, *Series*, or scalar object and Pandas will intelligently summarize the results for you.

This sort of flexibility is a bid intimidating at first, but over time you will find a wide variety of uses for it.

Let's go through a couple examples:

In [23]:
# Define a function that returns a series holding
# the info on how many times different cities
# appear in a given state.

# Notice how the entire dataframe is reduced
# down to a single series via this function
def city_counts(dataframe):
    return dataframe['city'].value_counts()

In [24]:
college_scorecard.groupby('state').apply(city_counts)

state
AK     Anchorage             4
       Seward                1
       Juneau                1
       Barrow                1
       Palmer                1
       Fairbanks             1
       Soldotna              1
AL     Birmingham           14
       Montgomery           11
       Mobile               10
       Huntsville            6
       Tuscaloosa            3
       Selma                 3
       Dothan                3
       Madison               2
       Marion                2
       Hoover                2
       Florence              2
       Gardendale            1
       Gadsden               1
       Livingston            1
       Northport             1
       Wadley                1
       Boaz                  1
       Tuskegee              1
       Jasper                1
       Montevallo            1
       Rainsville            1
       Talladega             1
       Auburn                1
                            ..
WV     Bluefield             1
       Leroy                 1
       South  Charleston     1
       New Cumberland        1
       Moorefield            1
       Bethany               1
       Charles Town          1
       Glen Dale             1
       Glenville             1
       Waverly               1
       Beaver                1
       Franklin              1
       Lewisburg             1
       Elkins                1
       Scott Depot           1
       Montgomery            1
       Stollings             1
       Philippi              1
       Institute             1
       Oak Hill              1
       Dunbar                1
       Vienna                1
WY     Cheyenne              3
       Laramie               2
       Powell                1
       Sheridan              1
       Torrington            1
       Casper                1
       Rock Springs          1
       Riverton              1
Name: city, Length: 2923, dtype: int64

In this case, our `city_counts` function would only return information on a single column of the dataframe that it received for each group. It then returns this city information for each state group which is collected and then displayed to the user.

In the next example we will use the `apply()` method to append a new *Series* to our DataFrame. You'll see that it will effectively take the place of the transform()/merge() example from above in one step.

In [25]:
# Define a function that generates a new column
# holding the centered year_1_default_rate data.

def center_default_rate(dataframe):
    dataframe['center_year_1_default_rate'] = (
        dataframe['year_1_default_rate'] - dataframe['year_1_default_rate'].mean())
    return dataframe

In [26]:
college_loan_defaults_subset.groupby('state').apply(center_default_rate)[:10]

,name,state,year_1_default_rate,center_year_1_default_rate
0,A - TECHNICAL COLLEGE,CA,27.1,16.679912
1,A & W HEALTHCARE EDUCATORS,LA,12.9,0.786567
2,A. T. STILL UNIVERSITY OF HEALTH SCIENCES,MO,1.6,-9.209489
3,AARON'S ACADEMY OF BEAUTY,MD,35.8,24.831818
4,ABC BEAUTY COLLEGE,AR,26.6,12.159375
5,ABCOTT INSTITUTE,MI,16.4,5.050847
6,ABDILL CAREER COLLEGE,OR,17.1,5.821918
7,ABILENE CHRISTIAN UNIVERSITY,TX,5.4,-8.041245
8,ABINGTON MEMORIAL HOSPITAL DIXON SCHOOL OF NUR...,PA,0.9,-7.994834
9,ABRAHAM BALDWIN AGRICULTURAL COLLEGE,GA,13.6,1.091150

### Alternatively, create the centered series by applying a lambda function

In [29]:
centeredseries = college_loan_defaults_subset.groupby('state')['year_1_default_rate'].apply(lambda x: 
            x - x.mean()).rename('centered_year_1_default_rate')
centeredseries.head()

0    16.679912
1     0.786567
2    -9.209489
3    24.831818
4    12.159375
Name: centered_year_1_default_rate, dtype: float64

In [28]:
# As an exercise, merge the above Series to the college_loan_defaults_subset DataFrame.

In [30]:
pd.merge(college_loan_defaults_subset, centeredseries, left_index=True, right_index=True)

,name,state,year_1_default_rate,centered_year_1_default_rate
0,A - TECHNICAL COLLEGE,CA,27.1,16.679912
1,A & W HEALTHCARE EDUCATORS,LA,12.9,0.786567
2,A. T. STILL UNIVERSITY OF HEALTH SCIENCES,MO,1.6,-9.209489
3,AARON'S ACADEMY OF BEAUTY,MD,35.8,24.831818
4,ABC BEAUTY COLLEGE,AR,26.6,12.159375
5,ABCOTT INSTITUTE,MI,16.4,5.050847
6,ABDILL CAREER COLLEGE,OR,17.1,5.821918
7,ABILENE CHRISTIAN UNIVERSITY,TX,5.4,-8.041245
8,ABINGTON MEMORIAL HOSPITAL DIXON SCHOOL OF NUR...,PA,0.9,-7.994834
9,ABRAHAM BALDWIN AGRICULTURAL COLLEGE,GA,13.6,1.091150
10,ACADEMY COLLEGE,MN,8.4,-1.065957
11,ACADEMY DI CAPELLI,CT,14.0,4.676786
12,ACADEMY FOR FIVE ELEMENT ACUPUNCTURE,FL,6.0,-6.500000
13,ACADEMY FOR NURSING AND HEALTH OCCUPATIONS,FL,4.9,-7.600000
14,ACADEMY FOR SALON PROFESSIONALS,CA,14.7,4.279912
15,ACADEMY FOR SALON PROFESSIONALS (THE),CA,4.0,-6.420088
16,ACADEMY OF ART UNIVERSITY,CA,6.9,-3.520088
17,ACADEMY OF CAREER TRAINING,FL,11.5,-1.000000
18,ACADEMY OF CHINESE CULTURE AND HEALTH SCIENCES,CA,13.3,2.879912
19,ACADEMY OF COSMETOLOGY,WI,30.3,20.811842
20,ACADEMY OF COSMETOLOGY,FL,17.5,5.000000
21,ACADEMY OF COSMETOLOGY,MT,10.6,-0.504545
22,ACADEMY OF COSMETOLOGY & ESTHETICS NYC (THE),NY,17.2,8.697516
23,ACADEMY OF ESTHETICS AND COSMETOLOGY,CA,21.4,10.979912
24,ACADEMY OF HAIR DESIGN,OR,24.1,12.821918
25,ACADEMY OF HAIR DESIGN,NV,7.0,-8.145000
26,ACADEMY OF HAIR DESIGN,MO,3.8,-7.009489
27,ACADEMY OF HAIR DESIGN (THE),OK,4.7,-8.804839
28,ACADEMY OF HAIR DESIGN #3,MS,10.0,-4.536111
29,ACADEMY OF HAIR DESIGN #4,MS,10.6,-3.936111
...,...,...,...,...
4566,WORSHAM COLLEGE OF MORTUARY SCIENCE,IL,9.8,0.547343
4567,WRIGHT INSTITUTE (THE),CA,2.0,-8.420088
4568,WRIGHT STATE UNIVERSITY,OH,8.2,-3.462736
4569,WYOTECH,FL,26.0,13.500000
4570,WYOTECH,WY,18.7,4.380000
4571,WYTHEVILLE COMMUNITY COLLEGE,VA,12.2,2.281905
4572,XAVIER UNIVERSITY,OH,3.1,-8.562736
4573,XAVIER UNIVERSITY OF LOUISIANA,LA,8.5,-3.613433
4574,XCELL ACADEMY A PAUL MITCHELL SCHOOL,AL,11.9,-1.214815
4575,XENON INTERNATIONAL ACADEMY II,NE,7.1,-0.167568
4576,XENON INTERNATIONAL ACADEMY III,CO,13.7,3.077922
4577,YAKIMA VALLEY COMMUNITY COLLEGE,WA,17.7,5.955294
4578,YALE UNIVERSITY,CT,0.6,-8.723214
4579,YAVAPAI COLLEGE,AZ,22.2,8.092537
4580,YESHIVA UNIVERSITY,NY,1.5,-7.002484
4581,YESHIVATH BETH MOSHE,PA,0.0,-8.894834
4582,YO SAN UNIVERSITY OF TRADITIONAL CHINESE MEDICINE,CA,11.1,0.679912
4583,YORK COLLEGE,NE,9.7,2.432432
4584,YORK COLLEGE OF PENNSYLVANIA,PA,3.9,-4.994834
4585,YORK COUNTY COMMUNITY COLLEGE,ME,13.2,2.935294
4586,YORK COUNTY SCHOOL OF TECHNOLOGY,PA,5.0,-3.894834
4587,YORK TECHNICAL COLLEGE,SC,16.2,2.755072
4588,YOUNG HARRIS COLLEGE,GA,6.6,-5.908850
4589,YOUNGSTOWN STATE UNIVERSITY,OH,16.7,5.037264
4590,YTI CAREER INSTITUTE,PA,14.0,5.105166
4591,YTI CAREER INSTITUTE - ALTOONA,PA,12.2,3.305166
4592,YUBA COLLEGE,CA,21.3,10.879912
4593,YUKON BEAUTY COLLEGE,OK,8.3,-5.204839
4594,Z HAIR ACADEMY,KS,3.2,-7.595522
4595,ZANE STATE COLLEGE,OH,23.6,11.937264