Python for Data Analytics | Module 5
<br>Professor James Ng

# Web Scraping

In [7]:
import numpy as np
import pandas as pd

Web scraping is a pretty diverse topic. It requires an understanding of how websites are created and managed, and knowing some fundamentals of HTML. Web scraping also necessarily involves lots of string manipulation. In this section we will go through the basics of scraping HTML tables from a static webpage.

### `pd.read_html()`

Using the pandas package, you can read and parse HTML tables from webpages directly. 

The following example extracts the NBA 2005 draft data set from the [Sports Reference](https://www.basketball-reference.com/draft/NBA_2005.html) website.

In [2]:
nba_data_list = pd.read_html("https://www.basketball-reference.com/draft/NBA_2005.html")

In [3]:
print(type(nba_data_list), '\n', len(nba_data_list))

<class 'list'>
 1

You will notice that `read_html()` returns a list. There can be multiple tables in a given webpage. The `read_html()` method returns list of tables. In this webpage there is only one table. So you can access the table with the 0th indexed element.

In [4]:
nba_df = nba_data_list[0]
nba_df

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Round 1,Unnamed: 4_level_0,Totals,Shooting,Per Game,Advanced,Unnamed: 9_level_0,...,Unnamed: 12_level_0,Unnamed: 13_level_0,Unnamed: 14_level_0,Unnamed: 15_level_0,Unnamed: 16_level_0,Unnamed: 17_level_0,Unnamed: 18_level_0,Unnamed: 19_level_0,Unnamed: 20_level_0,Unnamed: 21_level_0
,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,1,MIL,Andrew Bogut,Utah,14,706,19862,6808,6112,...,.120,.557,28.1,9.6,8.7,2.2,50.6,.122,2.3,21.6
1,2,2,ATL,Marvin Williams,UNC,15,1037,29501,10803,5428,...,.363,.808,28.4,10.4,5.2,1.3,63.8,.104,-0.2,13.3
2,3,3,UTA,Deron Williams,Illinois,12,845,28865,13804,2619,...,.357,.822,34.2,16.3,3.1,8.1,77.3,.129,1.3,23.8
3,4,4,NOH,Chris Paul,Wake Forest,15,970,33963,17899,4345,...,.370,.869,35.0,18.5,4.5,9.6,173.6,.245,7.2,79.0
4,5,5,CHA,Raymond Felton,UNC,14,971,28829,10853,2867,...,.329,.790,29.7,11.2,3.0,5.2,40.2,.067,-0.6,9.9
5,6,6,POR,Martell Webster,NaN,10,580,13914,5056,1811,...,.382,.791,24.0,8.7,3.1,1.0,24.7,.085,-0.7,4.6
6,7,7,TOR,Charlie Villanueva,UConn,11,656,13578,6808,3019,...,.341,.772,20.7,10.4,4.6,0.8,22.6,.080,-1.8,0.6
7,8,8,NYK,Channing Frye,Arizona,13,890,19772,7786,4002,...,.388,.822,22.2,8.7,4.5,1.0,38.9,.094,-0.2,8.9
8,9,9,GSW,Ike Diogu,Arizona State,6,225,2795,1348,689,...,.500,.786,12.4,6.0,3.1,0.3,6.5,.112,-4.8,-2.0
9,10,10,LAL,Andrew Bynum,NaN,8,418,10690,4822,3221,...,.111,.690,25.6,11.5,7.7,1.2,37.4,.168,1.3,9.0
10,11,11,ORL,Fran Vázquez,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,12,LAC,Yaroslav Korolev,NaN,2,34,168,39,16,...,.250,.625,4.9,1.1,0.5,0.4,-0.1,-.024,-6.4,-0.2
12,13,13,CHA,Sean May,UNC,4,119,1868,821,481,...,.231,.746,15.7,6.9,4.0,1.0,2.6,.068,-2.4,-0.2
13,14,14,MIN,Rashad McCants,UNC,4,249,5037,2479,506,...,.368,.741,20.2,10.0,2.0,1.3,3.6,.035,-2.5,-0.6
14,15,15,NJN,Antoine Wright,Texas A&M,6,297,5714,1614,681,...,.304,.674,19.2,5.4,2.3,1.0,3.1,.026,-3.1,-1.5
15,16,16,TOR,Joey Graham,Oklahoma State,6,377,6117,2239,1058,...,.300,.815,16.2,5.9,2.8,0.5,7.8,.061,-3.8,-2.8
16,17,17,IND,Danny Granger,New Mexico,10,586,18487,9855,2888,...,.380,.848,31.5,16.8,4.9,1.9,48.5,.126,1.5,16.1
17,18,18,BOS,Gerald Green,NaN,12,658,13026,6412,1639,...,.361,.818,19.8,9.7,2.5,0.9,18.4,.068,-2.5,-1.5
18,19,19,MEM,Hakim Warrick,Syracuse,8,526,10624,4947,2117,...,.191,.726,20.2,9.4,4.0,0.8,20.4,.092,-3.1,-2.9
19,20,20,DEN,Julius Hodge,NC State,2,23,98,28,15,...,NaN,.500,4.3,1.2,0.7,0.8,0.0,.003,-4.5,-0.1
20,21,21,PHO,Nate Robinson,Washington,11,618,13878,6807,1446,...,.360,.796,22.5,11.0,2.3,3.0,27.8,.096,0.2,7.8
21,22,22,DEN,Jarrett Jack,Georgia Tech,13,867,24140,9349,2487,...,.343,.855,27.8,10.8,2.9,4.6,36.8,.073,-1.2,5.1
22,23,23,SAC,Francisco García,Louisville,10,549,11853,4323,1400,...,.357,.799,21.6,7.9,2.6,1.4,18.2,.074,-0.3,4.9
23,24,24,HOU,Luther Head,Illinois,6,348,7797,2842,845,...,.388,.773,22.4,8.2,2.4,2.1,14.7,.090,-0.4,3.2
24,25,25,SEA,Johan Petro,NaN,8,473,7262,2202,1836,...,.154,.678,15.4,4.7,3.9,0.5,5.5,.037,-4.2,-4.0
25,26,26,DET,Jason Maxiell,Cincinnati,10,618,11379,3481,2576,...,.000,.564,18.4,5.6,4.2,0.4,20.3,.086,-2.0,0.1
26,27,27,POR,Linas Kleiza,Missouri,7,409,8185,3561,1470,...,.335,.763,20.0,8.7,3.6,0.8,13.6,.080,-2.4,-0.9
27,28,28,SAS,Ian Mahinmi,NaN,11,580,9545,2926,2487,...,.125,.612,16.5,5.0,4.3,0.5,24.7,.124,-0.3,4.0
28,29,29,MIA,Wayne Simien,Kansas,2,51,507,169,99,...,NaN,.854,9.9,3.3,1.9,0.2,0.9,.083,-4.8,-0.4
29,30,30,NYK,David Lee,Florida,12,829,24293,11232,7320,...,.034,.772,29.3,13.5,8.8,2.2,76.0,.150,1.6,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,31,31,ATL,Salim Stoudamire,Arizona,3,157,2672,1260,214,...,.366,.882,17.0,8.0,1.4,1.0,2.2,.040,-5.1,-2.1
33,32,32,LAC,Daniel Ewing,Duke,2,127,1683,431,158,...,.295,.780,13.3,3.4,1.2,1.4,0.8,.024,-3.7,-0.7
34,33,33,NOH,Brandon Bass,LSU,12,758,16410,6575,3448,...,.207,.832,21.6,8.7,4.5,0.8,42.8,.125,-1.1,3.7
35,34,34,UTA,C.J. Miles,NaN,15,848,17282,8108,2011,...,.358,.809,20.4,9.6,2.4,1.1,30.1,.084,-1.0,4.3
36,35,35,POR,Ricky Sanchez,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,36,36,MIL,Ersan İlyasova,NaN,12,765,18144,8021,4424,...,.364,.774,23.7,10.5,5.8,1.1,46.2,.122,-0.1,8.5
38,37,37,LAL,Ronny Turiaf,Gonzaga,10,473,8020,2209,1757,...,.000,.636,17.0,4.7,3.7,1.3,19.2,.115,1.0,6.0
39,38,38,ORL,Travis Diener,Marquette,5,179,2660,854,243,...,.353,.847,14.9,4.8,1.4,2.4,5.6,.102,-1.8,0.1
40,39,39,LAL,Von Wafer,Florida State,6,200,2475,1054,234,...,.325,.751,12.4,5.3,1.2,0.7,3.3,.064,-3.2,-0.7
41,40,40,GSW,Monta Ellis,NaN,12,833,29011,14858,2874,...,.314,.772,34.8,17.8,3.5,4.6,41.9,.069,-0.3,12.3
42,41,41,TOR,Roko Ukić,NaN,2,85,987,341,78,...,.189,.746,11.6,4.0,0.9,1.9,-0.2,-.007,-5.4,-0.8
43,42,42,GSW,Chris Taft,Pitt,1,17,144,47,36,...,NaN,.167,8.5,2.8,2.1,0.1,0.5,.155,-1.3,0.0
44,43,43,NJN,Mile Ilić,NaN,1,5,6,0,1,...,NaN,NaN,1.2,0.0,0.2,0.0,-0.2,-1.264,-53.6,-0.1
45,44,44,ORL,Martynas Andriuškevičius,NaN,1,6,9,0,4,...,NaN,NaN,1.5,0.0,0.7,0.0,0.0,.155,0.1,0.0
46,45,45,PHI,Lou Williams,NaN,15,958,23707,13770,2133,...,.349,.839,24.7,14.4,2.2,3.4,61.5,.125,0.2,13.3
47,46,46,IND,Erazem Lorbek,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,47,47,MIN,Bracey Wright,Indiana,2,26,325,129,39,...,.324,.794,12.5,5.0,1.5,0.8,0.5,.068,-3.7,-0.1
49,48,48,SEA,Mickaël Gelabale,NaN,3,145,2348,670,330,...,.316,.815,16.2,4.6,2.3,0.8,3.0,.062,-1.9,0.0
50,49,49,WAS,Andray Blatche,NaN,9,564,12462,5706,3024,...,.237,.725,22.1,10.1,5.4,1.4,19.2,.074,-0.3,5.4
51,50,50,BOS,Ryan Gomes,Providence,8,487,13463,4926,2239,...,.349,.799,27.6,10.1,4.6,1.5,19.4,.069,-1.3,2.3
52,51,51,UTA,Robert Whaley,Walsh University,1,23,212,49,43,...,NaN,.500,9.2,2.1,1.9,0.7,0.0,.004,-3.5,-0.1
53,52,52,DEN,Axel Hervelle,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,53,53,BOS,Orien Greene,LA-Lafayette,4,131,1555,326,195,...,.212,.642,11.9,2.5,1.5,1.2,-0.7,-.022,-3.8,-0.7
55,54,54,NYK,Dijon Thompson,UCLA,2,16,93,45,19,...,.308,.875,5.8,2.8,1.2,0.2,0.2,.102,-4.3,-0.1
56,55,55,SEA,Lawrence Roberts,Mississippi State,2,87,1150,334,310,...,.000,.688,13.2,3.8,3.6,0.4,2.5,.106,-1.4,0.2
57,56,56,DET,Amir Johnson,NaN,14,870,18323,6102,4692,...,.332,.673,21.1,7.0,5.4,1.2,55.3,.145,2.5,20.8
58,57,57,PHO,Marcin Gortat,NaN,12,806,20691,7951,6407,...,.150,.680,25.7,9.9,7.9,1.1,61.3,.142,0.7,14.2
59,58,58,TOR,Uroš Slokar,NaN,1,20,72,38,14,...,.500,.692,3.6,1.9,0.7,0.1,0.1,.042,-7.0,-0.1
60,59,59,ATL,Cenk Akyol,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,60,60,DET,Alex Acker,Pepperdine,2,30,234,81,29,...,.320,.500,7.8,2.7,1.0,0.5,-0.2,-.043,-6.9,-0.3

#### Clean the data

Data scraped from webpages most certainly need to be cleaned. Here are some examples.

You might have observed the column names are all tuples. You can change the column names to something cleaner by modifying the dataframe's columns attribute.

In [5]:
nba_df.columns = ['Rk', 'Pk', 'Tm','Player','College', 'Yrs','G', 'MP', 'PTS','TRB','AST','FG%', 
                    '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'WS', 'WS/48', 'BPM', 'VORP']

nba_df.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,1,MIL,Andrew Bogut,Utah,14,706,19862,6808,6112,...,.120,.557,28.1,9.6,8.7,2.2,50.6,.122,2.3,21.6
1,2,2,ATL,Marvin Williams,UNC,15,1037,29501,10803,5428,...,.363,.808,28.4,10.4,5.2,1.3,63.8,.104,-0.2,13.3
2,3,3,UTA,Deron Williams,Illinois,12,845,28865,13804,2619,...,.357,.822,34.2,16.3,3.1,8.1,77.3,.129,1.3,23.8
3,4,4,NOH,Chris Paul,Wake Forest,15,970,33963,17899,4345,...,.370,.869,35.0,18.5,4.5,9.6,173.6,.245,7.2,79.0
4,5,5,CHA,Raymond Felton,UNC,14,971,28829,10853,2867,...,.329,.790,29.7,11.2,3.0,5.2,40.2,.067,-0.6,9.9

You will notice that the data is **messy**. For example, if you look at the rows from 28:34, you will see that index 30, 31 have garbage data. Where did this come from? Looking at the source [webpage](https://www.basketball-reference.com/draft/NBA_2005.html), the HTML table has a break.

In [6]:
nba_df.loc[28:34]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
28,29,29,MIA,Wayne Simien,Kansas,2,51,507,169,99,...,NaN,.854,9.9,3.3,1.9,0.2,0.9,.083,-4.8,-0.4
29,30,30,NYK,David Lee,Florida,12,829,24293,11232,7320,...,.034,.772,29.3,13.5,8.8,2.2,76.0,.150,1.6,22.3
30,NaN,NaN,NaN,Round 2,NaN,Totals,Shooting,Per Game,Advanced,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
32,31,31,ATL,Salim Stoudamire,Arizona,3,157,2672,1260,214,...,.366,.882,17.0,8.0,1.4,1.0,2.2,.040,-5.1,-2.1
33,32,32,LAC,Daniel Ewing,Duke,2,127,1683,431,158,...,.295,.780,13.3,3.4,1.2,1.4,0.8,.024,-3.7,-0.7
34,33,33,NOH,Brandon Bass,LSU,12,758,16410,6575,3448,...,.207,.832,21.6,8.7,4.5,0.8,42.8,.125,-1.1,3.7

In [7]:
# Drop those two rows with those indices and you are saying inplace=True, to make sure you are not creating a copy. 
nba_df.drop([30,31], axis=0, inplace= True)
nba_df.loc[28:34]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
28,29,29,MIA,Wayne Simien,Kansas,2,51,507,169,99,...,NaN,.854,9.9,3.3,1.9,0.2,0.9,.083,-4.8,-0.4
29,30,30,NYK,David Lee,Florida,12,829,24293,11232,7320,...,.034,.772,29.3,13.5,8.8,2.2,76.0,.150,1.6,22.3
32,31,31,ATL,Salim Stoudamire,Arizona,3,157,2672,1260,214,...,.366,.882,17.0,8.0,1.4,1.0,2.2,.040,-5.1,-2.1
33,32,32,LAC,Daniel Ewing,Duke,2,127,1683,431,158,...,.295,.780,13.3,3.4,1.2,1.4,0.8,.024,-3.7,-0.7
34,33,33,NOH,Brandon Bass,LSU,12,758,16410,6575,3448,...,.207,.832,21.6,8.7,4.5,0.8,42.8,.125,-1.1,3.7

### Activity

* Use `pd.read_html()` to download the information on all the states from this [wikipedia](https://simple.wikipedia.org/wiki/List_of_U.S._state_capitals) page. 
    * Do the column names appear appropriately? Make sure you set the column names appropriately.

In [8]:
state_info = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._state_capitals")
state_df = state_info[0]
state_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,State,Abr.,State-hood,Capital,Capital since,Area (mi²),Population (2010),Notes,NaN,NaN,NaN
1,Municipal (Within city proper boundaries),Metropolitan (Both within the capital city pro...,Rank in state,Rank in US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,AL,1819,Montgomery,1846,155.4,205764,374536,2.0,102.0,Birmingham is the state's largest city.
3,Alaska,AK,1959,Juneau,1906,2716.7,31275,710231,3.0,NaN,Largest capital by municipal land area.
4,Arizona,AZ,1912,Phoenix,1889,474.9,1445632,4192887,1.0,6.0,Phoenix is the most populous capital city in t...

In [9]:
state_df.columns = ['State', 'State Abr', 'State-hood','Capital','Capital since', 'Area (mi^2)', 
                    'Population (2010) Municpal', 'Population (2010) Metropolitan', 'Population (2010) Rank in State',
                   'Population (2010) Rank in US', 'Notes']
state_df

,State,State Abr,State-hood,Capital,Capital since,Area (mi^2),Population (2010) Municpal,Population (2010) Metropolitan,Population (2010) Rank in State,Population (2010) Rank in US,Notes
0,State,Abr.,State-hood,Capital,Capital since,Area (mi²),Population (2010),Notes,NaN,NaN,NaN
1,Municipal (Within city proper boundaries),Metropolitan (Both within the capital city pro...,Rank in state,Rank in US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,AL,1819,Montgomery,1846,155.4,205764,374536,2.0,102.0,Birmingham is the state's largest city.
3,Alaska,AK,1959,Juneau,1906,2716.7,31275,710231,3.0,NaN,Largest capital by municipal land area.
4,Arizona,AZ,1912,Phoenix,1889,474.9,1445632,4192887,1.0,6.0,Phoenix is the most populous capital city in t...
5,Arkansas,AR,1836,Little Rock,1821,116.2,193524,699757,1.0,117.0,NaN
6,California,CA,1850,Sacramento,1854,97.2,466488,2149127,6.0,35.0,NaN
7,Colorado,CO,1876,Denver,1867,153.4,600158,2543482,1.0,26.0,Denver was called Denver City until 1882.
8,Connecticut,CT,1788,Hartford,1875,17.3,124775,1212381,3.0,199.0,NaN
9,Delaware,DE,1787,Dover,1777,22.4,36047,162310,2.0,NaN,Longest-serving capital in terms of statehood.
10,Florida,FL,1845,Tallahassee,1824,95.7,181376,367413,7.0,125.0,NaN
11,Georgia,GA,1788,Atlanta,1868,131.7,420003,5286728,1.0,40.0,Most populous metro area of any state capital.
12,Hawaii,HI,1959,Honolulu,1845,85.7,337256,953207,1.0,53.0,NaN
13,Idaho,ID,1890,Boise,1865,63.8,205671,616561,1.0,103.0,NaN
14,Illinois,IL,1818,Springfield,1837,54.0,116250,210170,6.0,221.0,Springfield was once home to Abraham Lincoln.
15,Indiana,IN,1816,Indianapolis,1825,361.5,820445,1887877,1.0,16.0,NaN
16,Iowa,IA,1846,Des Moines,1857,75.8,203433,569633,1.0,105.0,NaN
17,Kansas,KS,1861,Topeka,1856,56.0,127473,230870,4.0,193.0,NaN
18,Kentucky,KY,1792,Frankfort,1792,14.7,25527,70758,14.0,NaN,NaN
19,Louisiana,LA,1812,Baton Rouge,1880,76.8,229493,802484,2.0,85.0,Baton Rouge is located in the state's most pop...
20,Maine,ME,1820,Augusta,1832,55.4,19136,117114,8.0,NaN,Portland is a previous capital.
21,Maryland,MD,1788,Annapolis,1694,6.73,38394,NaN,7.0,NaN,Smallest capital by land area. Capitol buildin...
22,Massachusetts,MA,1788,Boston,1630,48.4,617594,4552402,1.0,22.0,Longest continuously serving capital in the U.S.
23,Michigan,MI,1837,Lansing,1847,35.0,114297,464036,5.0,226.0,Only state capital that is not also its county...
24,Minnesota,MN,1858,Saint Paul,1849,52.8,285068,3348659,2.0,67.0,NaN
25,Mississippi,MS,1817,Jackson,1821,104.9,173514,567122,1.0,134.0,Only state capital that shares its status as c...
26,Missouri,MO,1821,Jefferson City,1826,27.3,43079,149807,15.0,NaN,NaN
27,Montana,MT,1889,Helena,1875,14.0,28190,74801,6.0,NaN,NaN
28,Nebraska,NE,1867,Lincoln,1867,74.6,258379,302157,2.0,72.0,NaN
29,Nevada,NV,1864,Carson City,1861,143.4,55274,NaN,6.0,NaN,One of two independent cities that serves as a...
30,New Hampshire,NH,1788,Concord,1808,64.3,42695,NaN,3.0,NaN,NaN
31,New Jersey,NJ,1787,Trenton,1784,7.66,84913,366513,10.0,NaN,Served as the U.S. capital for a short period ...
32,New Mexico,NM,1912,Santa Fe,1610,37.3,75764,183732,4.0,NaN,Longest serving capital in the United States. ...
33,New York,NY,1788,Albany,1797,21.4,97856,857592,6.0,NaN,NaN
34,North Carolina,NC,1789,Raleigh,1792,114.6,403892,1130490,2.0,43.0,NaN
35,North Dakota,ND,1889,Bismarck,1883,26.9,61272,108779,2.0,NaN,NaN
36,Ohio,OH,1803,Columbus,1816,210.3,879170,2078725,1.0,14.0,"Columbus is the largest city in Ohio, the seco..."
37,Oklahoma,OK,1907,Oklahoma City,1910,607.0,579999,1252987,1.0,31.0,Shortest serving current state capital.
38,Oregon,OR,1859,Salem,1855,45.7,154637,390738,3.0,149.0,NaN
39,Pennsylvania,PA,1787,Harrisburg,1812,8.11,49528,647390,9.0,NaN,NaN
40,Rhode Island,RI,1790,Providence,1900,18.5,178042,1600852,1.0,130.0,Also served as the state's capital 1636–1686 a...
41,South Carolina,SC,1788,Columbia,1786,125.2,129272,767598,2.0,191.0,NaN
42,South Dakota,SD,1889,Pierre,1889,13.0,13646,NaN,8.0,NaN,NaN
43,Tennessee,TN,1796,Nashville,1826,473.3,601222,1670890,1.0,25.0,NaN
44,Texas,TX,1845,Austin,1839,251.5,790390,1716291,4.0,11.0,Austin is the largest state capital that is no...
45,Utah,UT,1896,Salt Lake City,1858,109.1,186440,1087873,1.0,124.0,NaN
46,Vermont,VT,1791,Montpelier,1805,10.2,7855,NaN,6.0,NaN,Least populous U.S. state capital.
47,Virginia,VA,1788,Richmond,1780,60.1,204214,1208101,4.0,104.0,Richmond is one of two independent cities that...
48,Washington,WA,1889,Olympia,1853,16.7,46478,234670,24.0,NaN,NaN
49,West Virginia,WV,1863,Charleston,1885,31.6,51400,304214,1.0,NaN,Charleston is the smallest capital city that i...
50,Wisconsin,WI,1848,Madison,1838,68.7,233209,605435,2.0,82.0,NaN
51,Wyoming,WY,1890,Cheyenne,1869,21.1,59466,91738,1.0,NaN,NaN

### Activity

* Download the top 250 movies from [IMDB](http://www.imdb.com/chart/top?ref_=nv_wl_img_3) list  
* <b>Which movie released in 2014 has the highest IMDb rating?</b>

In [10]:
movies = pd.read_html("https://www.imdb.com/chart/top?ref_=nv_wl_img_3")

In [11]:
movies.head()

AttributeError: 'list' object has no attribute 'head'

Don't forget read_html always stores extracted tables as elements in a list.

In [12]:
# On further inspection the list contains only one element
len(movies)

1

In [13]:
# The list element is a dataframe
movies[0].head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [14]:
# Store the dataframe in the movies list as a separate dataframe.
# The copy() method here is needed to explicitly tell Python that 
# movie_df is meant to be a new, separate copy of movies[0].

movie_df = movies[0].copy()

In [15]:
# Create a new column for year. Year info is embedded in 'Rank & Title' but we can pull them out using basic string
# manipulation.

movie_df['year'] = movie_df['Rank & Title'].str[-5:-1]
movie_df.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,year
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN,1994
1,NaN,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN,1972
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN,1974
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN,2008
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN,1957

In [16]:
# Extract movies from 2014. Also sort by IMDb rating to ensure highest comes first.
movie_df[ movie_df['year'] == '2014' ].sort_values('IMDb Rating', ascending=False)

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,year
29,NaN,30. Interstellar (2014),8.5,12345678910 NOT YET RELEASED Seen,NaN,2014
45,NaN,46. Whiplash (2014),8.5,12345678910 NOT YET RELEASED Seen,NaN,2014
183,NaN,184. Relatos salvajes (2014),8.1,12345678910 NOT YET RELEASED Seen,NaN,2014
186,NaN,187. Gone Girl (2014),8.1,12345678910 NOT YET RELEASED Seen,NaN,2014
193,NaN,194. The Grand Budapest Hotel (2014),8.1,12345678910 NOT YET RELEASED Seen,NaN,2014
235,NaN,236. PK (2014),8.0,12345678910 NOT YET RELEASED Seen,NaN,2014
245,NaN,246. Guardians of the Galaxy (2014),8.0,12345678910 NOT YET RELEASED Seen,NaN,2014

In [17]:
# And we're done! INTERSTELLAR and WHIPLASH had the highest rating among movies released in 2014.

### More data cleaning/string manipulation

In [18]:
movie_df.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,year
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN,1994
1,NaN,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN,1972
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN,1974
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN,2008
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN,1957

In [19]:
# 'Unnamed' columns are useless, let's drop them

# boolean array indicating whether columns have the specified string

movie_df.columns.str.contains('Unnamed:')

array([ True, False, False, False,  True, False])

In [20]:
# drop columns that do not contain the specified string

movie_df = movie_df.loc[: , ~movie_df.columns.str.contains('Unnamed:') ]
movie_df.head()

,Rank & Title,IMDb Rating,Your Rating,year
0,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,1994
1,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,1972
2,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,1974
3,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,2008
4,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,1957

In [21]:
# Rank is embedded in 'Rank & Title'. Let's pull out rank and store it in its own column.

# To do so we will split the 'Rank & Title' strings with the period '.' as separator. Let's see how this works.

movie_df['Rank & Title'].str.split('.')

# this returns a Series of split strings

0                [1,   The Shawshank Redemption  (1994)]
1                           [2,   The Godfather  (1972)]
2                  [3,   The Godfather: Part II  (1974)]
3                         [4,   The Dark Knight  (2008)]
4                            [5,   12 Angry Men  (1957)]
5                        [6,   Schindler's List  (1993)]
6      [7,   The Lord of the Rings: The Return of the...
7                            [8,   Pulp Fiction  (1994)]
8          [9,   The Good, the Bad and the Ugly  (1966)]
9                             [10,   Fight Club  (1999)]
10     [11,   The Lord of the Rings: The Fellowship o...
11                          [12,   Forrest Gump  (1994)]
12                             [13,   Inception  (2010)]
13     [14,   Star Wars: Episode V - The Empire Strik...
14     [15,   The Lord of the Rings: The Two Towers  ...
15                            [16,   The Matrix  (1999)]
16                            [17,   Goodfellas  (1990)]
17       [18,   One Flew Over the Cuckoo's Nest  (1975)]
18                                 [19,   Joker  (2019)]
19                         [20,   Seven Samurai  (1954)]
20                                 [21,   Se7en  (1995)]
21                           [22,   City of God  (2002)]
22                     [23,   Life Is Beautiful  (1997)]
23              [24,   The Silence of the Lambs  (1991)]
24                 [25,   It's a Wonderful Life  (1946)]
25     [26,   Star Wars: Episode IV - A New Hope  (19...
26                   [27,   Saving Private Ryan  (1998)]
27                         [28,   Spirited Away  (2001)]
28                        [29,   The Green Mile  (1999)]
29                          [30,   Interstellar  (2014)]
                             ...
220    [221,   Harry Potter and the Deathly Hallows: ...
221                       [222,   Amores Perros  (2000)]
222                  [223,   Dead Poets Society  (1989)]
223                           [224,   Spotlight  (2015)]
224                     [225,   Ace in the Hole  (1951)]
225                          [226,   White Heat  (1949)]
226                             [227,   Rebecca  (1940)]
227                               [228,   Rocky  (1976)]
228                     [229,   Monsters, Inc,   (2001)]
229                      [230,   The Handmaiden  (2016)]
230               [231,   It Happened One Night  (1934)]
231                            [232,   La Haine  (1995)]
232    [233,   Lagaan: Once Upon a Time in India  (20...
233                  [234,   Gangs of Wasseypur  (2012)]
234                  [235,   The Princess Bride  (1987)]
235                                  [236,   PK  (2014)]
236                       [237,   Before Sunset  (2004)]
237    [238,   Butch Cassidy and the Sundance Kid  (1...
238                            [239,   The Help  (2011)]
239                      [240,   The Terminator  (1984)]
240                [241,   In the Mood for Love  (2000)]
241                               [242,   Akira  (1988)]
242                        [243,   Paris, Texas  (1984)]
243             [244,   Munna Bhai M, B, B, S,   (2003)]
244                             [245,   Aladdin  (1992)]
245             [246,   Guardians of the Galaxy  (2014)]
246                    [247,   Infernal Affairs  (2002)]
247               [248,   The Battle of Algiers  (1966)]
248                   [249,   Castle in the Sky  (1986)]
249    [250,   La leggenda del pianista sull'oceano  ...
Name: Rank & Title, Length: 250, dtype: object

In [22]:
for row in movie_df['Rank & Title'].str.split('.'):
    print(row[0])

# These are what we want to store in a new 'rank' column

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250

In [23]:
# Store rank iteratively row by row

for idx, row in enumerate(movie_df['Rank & Title'].str.split('.')):
    movie_df.loc[idx, 'rank'] = row[0]

In [24]:
movie_df.sample(10)

,Rank & Title,IMDb Rating,Your Rating,year,rank
96,97. A Clockwork Orange (1971),8.3,12345678910 NOT YET RELEASED Seen,1971,97
1,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,1972,2
181,182. Tokyo Story (1953),8.1,12345678910 NOT YET RELEASED Seen,1953,182
126,127. Unforgiven (1992),8.2,12345678910 NOT YET RELEASED Seen,1992,127
153,154. V for Vendetta (2005),8.1,12345678910 NOT YET RELEASED Seen,2005,154
182,183. The Big Lebowski (1998),8.1,12345678910 NOT YET RELEASED Seen,1998,183
218,219. The 400 Blows (1959),8.0,12345678910 NOT YET RELEASED Seen,1959,219
170,171. Jurassic Park (1993),8.1,12345678910 NOT YET RELEASED Seen,1993,171
54,55. Memento (2000),8.4,12345678910 NOT YET RELEASED Seen,2000,55
80,81. Taare Zameen Par (2007),8.3,12345678910 NOT YET RELEASED Seen,2007,81

In [25]:
# This is perfectly fine, but can be done more compactly using Python's list comprehension

#### List comprehension

In [26]:
# Create a list of ranks from the original Series of split strings
[ elem[0] for elem in movie_df['Rank & Title'].str.split('.') ]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250']

In [27]:
# Can assign to DataFrame column directly
movie_df['rank2'] = [ elem[0] for elem in movie_df['Rank & Title'].str.split('.') ]

In [28]:
movie_df.sample(5)

,Rank & Title,IMDb Rating,Your Rating,year,rank,rank2
227,228. Rocky (1976),8.0,12345678910 NOT YET RELEASED Seen,1976,228,228
40,41. Psycho (1960),8.5,12345678910 NOT YET RELEASED Seen,1960,41,41
18,19. Joker (2019),8.6,12345678910 NOT YET RELEASED Seen,2019,19,19
235,236. PK (2014),8.0,12345678910 NOT YET RELEASED Seen,2014,236,236
102,103. Singin' in the Rain (1952),8.2,12345678910 NOT YET RELEASED Seen,1952,103,103

In [29]:
# This is cool! How about extracting titles into its own column?

movie_df['title']=[ elem[1].split('(')[0].strip() for elem in movie_df['Rank & Title'].str.split('.') ]
movie_df.sample(5)

,Rank & Title,IMDb Rating,Your Rating,year,rank,rank2,title
203,204. Stand by Me (1986),8.1,12345678910 NOT YET RELEASED Seen,1986,204,204,Stand by Me
230,231. It Happened One Night (1934),8.0,12345678910 NOT YET RELEASED Seen,1934,231,231,It Happened One Night
95,96. North by Northwest (1959),8.3,12345678910 NOT YET RELEASED Seen,1959,96,96,North by Northwest
112,113. To Kill a Mockingbird (1962),8.2,12345678910 NOT YET RELEASED Seen,1962,113,113,To Kill a Mockingbird
171,172. Andhadhun (2018),8.1,12345678910 NOT YET RELEASED Seen,2018,172,172,Andhadhun

**Pandas read_html is pretty useful and convenient, but won't work on webpages that do not have HTML tables.**

Example:

In [30]:
pd.read_html('http://www.nd.edu')

ValueError: No tables found

# Most commonly used packages for web scraping 

* urllib
* requests
* BeautifulSoup
* re
* selenium (not covered here)

This will require some familiarity with the fundamentals of HTML, the language used to display webpages on the browser.

In [36]:
import urllib
import requests
from bs4 import BeautifulSoup

In [37]:
req = requests.get("https://simple.wikipedia.org/wiki/List_of_U.S._state_capitals")
page = req.text

page_soup = BeautifulSoup(page, 'html.parser')

In [38]:
page_soup

<!DOCTYPE html>

<html class="client-nojs" dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>List of U.S. state capitals - Simple English Wikipedia, the free encyclopedia</title>
<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRequestId":"XeUbtgpAIDEAAHb63n4AAAEK","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"List_of_U.S._state_capitals","wgTitle":"List of U.S. state capitals","wgCurRevisionId":6726415,"wgRevisionId":6726415,"wgArticleId":18635,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["State capitals in the United States","Lists of cities in the United States"],"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgRelevantPageName":"List_of_U.S._state_capitals",
"wgRelevantArticleId":18635,"wgIsProbablyEditable":!0,"wgRelevantPageIsProbablyEditable":!0,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgMediaViewerOnClick":!0,"wgMediaViewerEnabledByDefault":!0,"wgPopupsReferencePreviews":!1,"wgPopupsConflictsWithNavPopupGadget":!1,"wgVisualEditor":{"pageLanguageCode":"en","pageLanguageDir":"ltr","pageVariantFallbacks":"en"},"wgMFDisplayWikibaseDescriptions":{"search":!0,"nearby":!0,"watchlist":!0,"tagline":!0},"wgWMESchemaEditAttemptStepOversample":!1,"wgULSCurrentAutonym":"English","wgNoticeProject":"wikipedia","wgWikibaseItemId":"Q321470","wgCentralAuthMobileDomain":!1,"wgEditSubmitButtonLabelPublish":!0};RLSTATE={"ext.globalCssJs.user.styles":"ready","site.styles":"ready","noscript":"ready","user.styles":"ready","ext.globalCssJs.user":"ready","user":"ready","user.options":"ready","user.tokens":"loading","ext.cite.styles":"ready","mediawiki.legacy.shared":"ready","mediawiki.legacy.commonPrint":"ready",
"jquery.tablesorter.styles":"ready","wikibase.client.init":"ready","ext.visualEditor.desktopArticleTarget.noscript":"ready","ext.uls.interlanguage":"ready","ext.wikimediaBadges":"ready","mediawiki.skinning.interface":"ready","skins.vector.styles":"ready"};RLPAGEMODULES=["ext.cite.ux-enhancements","site","mediawiki.page.startup","mediawiki.page.ready","jquery.tablesorter","mediawiki.searchSuggest","ext.gadget.ReferenceTooltips","ext.gadget.switcher","ext.centralauth.centralautologin","mmv.head","mmv.bootstrap.autostart","ext.popups","ext.visualEditor.desktopArticleTarget.init","ext.visualEditor.targetLoader","ext.eventLogging","ext.wikimediaEvents","ext.navigationTiming","ext.uls.compactlinks","ext.uls.interface","ext.cx.eventlogging.campaigns","ext.centralNotice.geoIP","ext.centralNotice.startUp","skins.vector.js"];</script>
<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement("user.tokens@tffin",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
});});</script>
<link href="/w/load.php?lang=en&amp;modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.tablesorter.styles%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector" rel="stylesheet"/>
<script async="" src="/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector"></script>
<meta content="" name="ResourceLoaderDynamicStyles"/>
<link href="/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector" rel="stylesheet"/>
<meta content="MediaWiki 1.35.0-wmf.5" name="generator"/>
<meta content="origin" name="referrer"/>
<meta content="origin-when-crossorigin" name="referrer"/>
<meta content="origin-when-cross-origin" name="referrer"/>
<meta content="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/US_states_in_which_the_capital_is_the_largest_city.svg/1200px-US_states_in_which_the_capital_is_the_largest_city.svg.png" property="og:image"/>
<link href="android-app://org.wikipedia/http/simple.m.wikipedia.org/wiki/List_of_U.S._state_capitals" rel="alternate"/>
<link href="/w/index.php?title=List_of_U.S._state_capitals&amp;action=edit" rel="alternate" title="change this page" type="application/x-wiki"/>
<link href="/w/index.php?title=List_of_U.S._state_capitals&amp;action=edit" rel="edit" title="change this page"/>
<link href="/static/apple-touch/wikipedia.png" rel="apple-touch-icon"/>
<link href="/static/favicon/wikipedia.ico" rel="shortcut icon"/>
<link href="/w/opensearch_desc.php" rel="search" title="Wikipedia (en)" type="application/opensearchdescription+xml"/>
<link href="//simple.wikipedia.org/w/api.php?action=rsd" rel="EditURI" type="application/rsd+xml"/>
<link href="//creativecommons.org/licenses/by-sa/3.0/" rel="license"/>
<link href="https://simple.wikipedia.org/wiki/List_of_U.S._state_capitals" rel="canonical"/>
<link href="//login.wikimedia.org" rel="dns-prefetch"/>
<link href="//meta.wikimedia.org" rel="dns-prefetch"/>
<!--[if lt IE 9]><script src="/w/resources/lib/html5shiv/html5shiv.js"></script><![endif]-->
</head>
<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-List_of_U_S_state_capitals rootpage-List_of_U_S_state_capitals skin-vector action-view">
<div class="noprint" id="mw-page-base"></div>
<div class="noprint" id="mw-head-base"></div>
<div class="mw-body" id="content" role="main">
<a id="top"></a>
<div class="mw-body-content" id="siteNotice"><!-- CentralNotice --></div>
<div class="mw-indicators mw-body-content">
</div>
<h1 class="firstHeading" id="firstHeading" lang="en">List of U.S. state capitals</h1>
<div class="mw-body-content" id="bodyContent">
<div class="noprint" id="siteSub">From Wikipedia, the free encyclopedia</div>
<div id="contentSub"></div>
<div id="jump-to-nav"></div>
<a class="mw-jump-link" href="#mw-head">Jump to navigation</a>
<a class="mw-jump-link" href="#p-search">Jump to search</a>
<div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en"><div class="mw-parser-output"><p>This is a <b>list of <a href="/wiki/United_States" title="United States">United States</a> <a href="/wiki/U.S._state" title="U.S. state">state</a> <a class="mw-redirect" href="/wiki/Capital_(city)" title="Capital (city)">capital</a> <a href="/wiki/City" title="City">cities</a></b>. Each city is the center of government for a state in the United States,  in the <a href="/wiki/Legislature" title="Legislature">capitol</a> building. The  capital city with the fewest people is Montpelier, Vermont,<sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup> while the capital city with the most people is Phoenix, Arizona.
</p>
<div class="thumb tright"><div class="thumbinner" style="width:352px;"><a class="image" href="/wiki/File:US_states_in_which_the_capital_is_the_largest_city.svg"><img alt="" class="thumbimage" data-file-height="593" data-file-width="959" decoding="async" height="216" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/US_states_in_which_the_capital_is_the_largest_city.svg/350px-US_states_in_which_the_capital_is_the_largest_city.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/US_states_in_which_the_capital_is_the_largest_city.svg/525px-US_states_in_which_the_capital_is_the_largest_city.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e0/US_states_in_which_the_capital_is_the_largest_city.svg/700px-US_states_in_which_the_capital_is_the_largest_city.svg.png 2x" width="350"/></a> <div class="thumbcaption"><div class="magnify"><a class="internal" href="/wiki/File:US_states_in_which_the_capital_is_the_largest_city.svg" title="Enlarge"></a></div>States (purple) whose capital is also that state's largest city by population (2016 estimate).</div></div></div>
<p>The dates listed in the following table indicate the year o continuously serve as the state's sole capital. Most states have changed their capital city at least once. In the case of the thirteen original states, "statehood" in the table refers to dar date of ratification of the <a class="mw-redirect" href="/wiki/United_States_Constitution" title="United States Constitution">United States Constitution</a>.
</p>
<table class="wikitable sortable">
<caption>State capitals of the United States
</caption>
<tbody><tr>
<th rowspan="2">State</th>
<th rowspan="2">Abr.</th>
<th rowspan="2">State-hood</th>
<th rowspan="2">Capital</th>
<th rowspan="2">Capital since</th>
<th rowspan="2">Area (mi²)</th>
<th colspan="4">Population (2010)</th>
<th rowspan="2">Notes
</th></tr>
<tr>
<th><a href="/wiki/List_of_United_States_cities_by_population" title="List of United States cities by population">Municipal</a> (Within city proper boundaries)
</th>
<th><a class="new" href="/w/index.php?title=List_of_metropolitan_statistical_areas&amp;action=edit&amp;redlink=1" title="List of metropolitan statistical areas (not yet started)">Metropolitan</a> (Both within the capital city proper and the surrounding area of the city proper)
</th>
<th>Rank in state
</th>
<th>Rank in US
</th></tr>
<tr>
<td><a href="/wiki/Alabama" title="Alabama">Alabama</a></td>
<td>AL</td>
<td align="center">1819</td>
<td><a href="/wiki/Montgomery,_Alabama" title="Montgomery, Alabama">Montgomery</a></td>
<td align="center">1846</td>
<td align="right">155.4</td>
<td align="right">205,764</td>
<td align="right">374,536</td>
<td align="center">2</td>
<td align="center">102</td>
<td><a href="/wiki/Birmingham,_Alabama" title="Birmingham, Alabama">Birmingham</a> is the state's largest city.
</td></tr>
<tr>
<td><a href="/wiki/Alaska" title="Alaska">Alaska</a></td>
<td>AK</td>
<td align="center">1959</td>
<td><a href="/wiki/Juneau,_Alaska" title="Juneau, Alaska">Juneau</a></td>
<td align="center">1906</td>
<td align="right">2716.7</td>
<td align="right">31,275</td>
<td align="right">710,231<br/></td>
<td align="center">3</td>
<td align="center"></td>
<td>Largest capital by municipal land area.
</td></tr>
<tr>
<td><a href="/wiki/Arizona" title="Arizona">Arizona</a></td>
<td>AZ</td>
<td align="center">1912</td>
<td><a href="/wiki/Phoenix,_Arizona" title="Phoenix, Arizona">Phoenix</a></td>
<td align="center">1889</td>
<td align="right">474.9</td>
<td align="right">1,445,632</td>
<td align="right">4,192,887</td>
<td align="center">1</td>
<td align="center">6</td>
<td>Phoenix is the most populous capital city in the United States of America.
</td></tr>
<tr>
<td><a href="/wiki/Arkansas" title="Arkansas">Arkansas</a></td>
<td>AR</td>
<td align="center">1836</td>
<td><a href="/wiki/Little_Rock,_Arkansas" title="Little Rock, Arkansas">Little Rock</a></td>
<td align="center">1821</td>
<td align="right">116.2</td>
<td align="right">193,524</td>
<td align="right">699,757</td>
<td align="center">1</td>
<td align="center">117</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/California" title="California">California</a></td>
<td>CA</td>
<td align="center">1850</td>
<td><a href="/wiki/Sacramento,_California" title="Sacramento, California">Sacramento</a></td>
<td align="center">1854</td>
<td align="right">97.2</td>
<td align="right">466,488</td>
<td align="right">2,149,127</td>
<td align="center">6</td>
<td align="center">35</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Colorado" title="Colorado">Colorado</a></td>
<td>CO</td>
<td align="center">1876</td>
<td><a class="mw-redirect" href="/wiki/Denver,_Colorado" title="Denver, Colorado">Denver</a></td>
<td align="center">1867</td>
<td align="right">153.4</td>
<td align="right">600,158</td>
<td align="right">2,543,482</td>
<td align="center">1</td>
<td align="center">26</td>
<td>Denver was called Denver City until 1882.
</td></tr>
<tr>
<td><a href="/wiki/Connecticut" title="Connecticut">Connecticut</a></td>
<td>CT</td>
<td align="center">1788</td>
<td><a href="/wiki/Hartford,_Connecticut" title="Hartford, Connecticut">Hartford</a></td>
<td align="center">1875</td>
<td align="right">17.3</td>
<td align="right">124,775</td>
<td align="right">1,212,381</td>
<td align="center">3</td>
<td align="center">199</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Delaware" title="Delaware">Delaware</a></td>
<td>DE</td>
<td align="center">1787</td>
<td><a href="/wiki/Dover,_Delaware" title="Dover, Delaware">Dover</a></td>
<td align="center">1777</td>
<td align="right">22.4</td>
<td align="right">36,047</td>
<td align="right">162,310</td>
<td align="center">2</td>
<td align="center"></td>
<td>Longest-serving capital in terms of statehood.
</td></tr>
<tr>
<td><a href="/wiki/Florida" title="Florida">Florida</a></td>
<td>FL</td>
<td align="center">1845</td>
<td><a href="/wiki/Tallahassee,_Florida" title="Tallahassee, Florida">Tallahassee</a></td>
<td align="center">1824</td>
<td align="right">95.7</td>
<td align="right">181,376</td>
<td align="right">367,413</td>
<td align="center">7</td>
<td align="center">125</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Georgia_(U.S._state)" title="Georgia (U.S. state)">Georgia</a></td>
<td>GA</td>
<td align="center">1788</td>
<td><a href="/wiki/Atlanta" title="Atlanta">Atlanta</a></td>
<td align="center">1868</td>
<td align="right">131.7</td>
<td align="right">420,003</td>
<td align="right">5,286,728</td>
<td align="center">1</td>
<td align="center">40</td>
<td>Most populous metro area of any state capital.
</td></tr>
<tr>
<td><a href="/wiki/Hawaii" title="Hawaii">Hawaii</a></td>
<td>HI</td>
<td align="center">1959</td>
<td><a href="/wiki/Honolulu" title="Honolulu">Honolulu</a></td>
<td align="center">1845</td>
<td align="right">85.7</td>
<td align="right">337,256</td>
<td align="right">953,207</td>
<td align="center">1</td>
<td align="center">53</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Idaho" title="Idaho">Idaho</a></td>
<td>ID</td>
<td align="center">1890</td>
<td><a href="/wiki/Boise,_Idaho" title="Boise, Idaho">Boise</a></td>
<td align="center">1865</td>
<td align="right">63.8</td>
<td align="right">205,671</td>
<td align="right">616,561</td>
<td align="center">1</td>
<td align="center">103</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Illinois" title="Illinois">Illinois</a></td>
<td>IL</td>
<td align="center">1818</td>
<td><a href="/wiki/Springfield,_Illinois" title="Springfield, Illinois">Springfield</a></td>
<td align="center">1837</td>
<td align="right">54.0</td>
<td align="right">116,250</td>
<td align="right">210,170</td>
<td align="center">6</td>
<td align="center">221</td>
<td><a href="/wiki/Springfield,_Illinois" title="Springfield, Illinois">Springfield</a> was once home to <a href="/wiki/Abraham_Lincoln" title="Abraham Lincoln">Abraham Lincoln</a>.
</td></tr>
<tr>
<td><a href="/wiki/Indiana" title="Indiana">Indiana</a></td>
<td>IN</td>
<td align="center">1816</td>
<td><a href="/wiki/Indianapolis" title="Indianapolis">Indianapolis</a></td>
<td align="center">1825</td>
<td align="right">361.5</td>
<td align="right">820,445</td>
<td align="right">1,887,877</td>
<td align="center">1</td>
<td align="center">16</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Iowa" title="Iowa">Iowa</a></td>
<td>IA</td>
<td align="center">1846</td>
<td><a href="/wiki/Des_Moines,_Iowa" title="Des Moines, Iowa">Des Moines</a></td>
<td align="center">1857</td>
<td align="right">75.8</td>
<td align="right">203,433</td>
<td align="right">569,633</td>
<td align="center">1</td>
<td align="center">105</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Kansas" title="Kansas">Kansas</a></td>
<td>KS</td>
<td align="center">1861</td>
<td><a href="/wiki/Topeka,_Kansas" title="Topeka, Kansas">Topeka</a></td>
<td align="center">1856</td>
<td align="right">56.0</td>
<td align="right">127,473</td>
<td align="right">230,870</td>
<td align="center">4</td>
<td align="center">193</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Kentucky" title="Kentucky">Kentucky</a></td>
<td>KY</td>
<td align="center">1792</td>
<td><a href="/wiki/Frankfort,_Kentucky" title="Frankfort, Kentucky">Frankfort</a></td>
<td align="center">1792</td>
<td align="right">14.7</td>
<td align="right">25,527</td>
<td align="right">70,758</td>
<td align="center">14</td>
<td></td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Louisiana" title="Louisiana">Louisiana</a></td>
<td>LA</td>
<td align="center">1812</td>
<td><a href="/wiki/Baton_Rouge,_Louisiana" title="Baton Rouge, Louisiana">Baton Rouge</a></td>
<td align="center">1880</td>
<td align="right">76.8</td>
<td align="right">229,493</td>
<td align="right">802,484</td>
<td align="center">2</td>
<td align="center">85</td>
<td>Baton Rouge is located in the state's most populous parish. It is also home to the tallest state capitol building.
</td></tr>
<tr>
<td><a href="/wiki/Maine" title="Maine">Maine</a></td>
<td>ME</td>
<td align="center">1820</td>
<td><a href="/wiki/Augusta,_Maine" title="Augusta, Maine">Augusta</a></td>
<td align="center">1832</td>
<td align="right">55.4</td>
<td align="right">19,136</td>
<td align="right">117,114</td>
<td align="center">8</td>
<td></td>
<td><a href="/wiki/Portland,_Maine" title="Portland, Maine">Portland</a> is a previous capital.
</td></tr>
<tr>
<td><a href="/wiki/Maryland" title="Maryland">Maryland</a></td>
<td>MD</td>
<td align="center">1788</td>
<td><a href="/wiki/Annapolis,_Maryland" title="Annapolis, Maryland">Annapolis</a></td>
<td align="center">1694</td>
<td align="right">6.73</td>
<td align="right">38,394</td>
<td align="right"></td>
<td align="center">7</td>
<td></td>
<td>Smallest capital by land area. Capitol building is the oldest in the U.S. still in use.
</td></tr>
<tr>
<td><a href="/wiki/Massachusetts" title="Massachusetts">Massachusetts</a></td>
<td>MA</td>
<td align="center">1788</td>
<td><a href="/wiki/Boston" title="Boston">Boston</a></td>
<td align="center">1630</td>
<td align="right">48.4</td>
<td align="right">617,594</td>
<td align="right">4,552,402</td>
<td align="center">1</td>
<td align="center">22</td>
<td>Longest continuously serving capital in the U.S.
</td></tr>
<tr>
<td><a href="/wiki/Michigan" title="Michigan">Michigan</a></td>
<td>MI</td>
<td align="center">1837</td>
<td><a href="/wiki/Lansing,_Michigan" title="Lansing, Michigan">Lansing</a></td>
<td align="center">1847</td>
<td align="right">35.0</td>
<td align="right">114,297</td>
<td align="right">464,036</td>
<td align="center">5</td>
<td align="center">226</td>
<td>Only state capital that is not also its <a href="/wiki/County_seat" title="County seat">county seat</a> (not counting the two state capitals that are <a class="new" href="/w/index.php?title=Independent_city_(United_States)&amp;action=edit&amp;redlink=1" title="Independent city (United States) (not yet started)">independent cities</a> and not located in any county).
</td></tr>
<tr>
<td><a href="/wiki/Minnesota" title="Minnesota">Minnesota</a></td>
<td>MN</td>
<td align="center">1858</td>
<td><a href="/wiki/Saint_Paul,_Minnesota" title="Saint Paul, Minnesota">Saint Paul</a></td>
<td align="center">1849</td>
<td align="right">52.8</td>
<td align="right">285,068</td>
<td align="right">3,348,659</td>
<td align="center">2</td>
<td align="center">67</td>
<td>
</td></tr>
<tr>
<td><a href="/wiki/Mississippi" title="Mississippi">Mississippi</a></td>
<td>MS</td>
<td align="center">1817</td>
<td><a href="/wiki/Jackson,_Mississippi" title="Jackson, Mississippi">Jackson</a></td>
<td align="center">1821</td>
<td align="right">104.9</td>
<td align="right">173,514</td>
<td align="right">567,122</td>
<td align="center">1</td>
<td align="center">134</td>
<td>Only state capital that shares its status as <a href="/wiki/County_seat" title="County seat">county seat</a> with another city (<a href="/wiki/Raymond,_Mississippi" title="Raymond, Mississippi">Raymond, Mississippi</a>).
</td></tr>
<tr>
<td><a href="/wiki/Missouri" title="Missouri">Missouri</a></td>
<td>MO</td>

The contents of a webpage are messy and may not be obvious for the first time. However, if you want to scrape any website, you will have to be patient and look through its source code to extract what you want. **Use your browser's Inspect Element feature for this.**

In [39]:
# You can extract html elements based on tags, classes, attributes and more.

# Simple example of extracting HTML title
page_soup.title

In [40]:
page_soup.title.text

'List of U.S. state capitals - Simple English Wikipedia, the free encyclopedia'

### Searching the html source code of a webpage

You can programmatically search through the source code of a webpage to find stuff that's in a webpage. Do it using BeautifulSoup's **`find_all()`** method. You can search based on HTML tags (preferred) or even just plain old text.
Let's search for all `table` tags.

In [41]:
states_table = page_soup.find_all("table")
states_table

[<table class="wikitable sortable">
 <caption>State capitals of the United States
 </caption>
 <tbody><tr>
 <th rowspan="2">State</th>
 <th rowspan="2">Abr.</th>
 <th rowspan="2">State-hood</th>
 <th rowspan="2">Capital</th>
 <th rowspan="2">Capital since</th>
 <th rowspan="2">Area (mi²)</th>
 <th colspan="4">Population (2010)</th>
 <th rowspan="2">Notes
 </th></tr>
 <tr>
 <th><a href="/wiki/List_of_United_States_cities_by_population" title="List of United States cities by population">Municipal</a> (Within city proper boundaries)
 </th>
 <th><a class="new" href="/w/index.php?title=List_of_metropolitan_statistical_areas&amp;action=edit&amp;redlink=1" title="List of metropolitan statistical areas (not yet started)">Metropolitan</a> (Both within the capital city proper and the surrounding area of the city proper)
 </th>
 <th>Rank in state
 </th>
 <th>Rank in US
 </th></tr>
 <tr>
 <td><a href="/wiki/Alabama" title="Alabama">Alabama</a></td>
 <td>AL</td>
 <td align="center">1819</td>
 <td><a href="/wiki/Montgomery,_Alabama" title="Montgomery, Alabama">Montgomery</a></td>
 <td align="center">1846</td>
 <td align="right">155.4</td>
 <td align="right">205,764</td>
 <td align="right">374,536</td>
 <td align="center">2</td>
 <td align="center">102</td>
 <td><a href="/wiki/Birmingham,_Alabama" title="Birmingham, Alabama">Birmingham</a> is the state's largest city.
 </td></tr>
 <tr>
 <td><a href="/wiki/Alaska" title="Alaska">Alaska</a></td>
 <td>AK</td>
 <td align="center">1959</td>
 <td><a href="/wiki/Juneau,_Alaska" title="Juneau, Alaska">Juneau</a></td>
 <td align="center">1906</td>
 <td align="right">2716.7</td>
 <td align="right">31,275</td>
 <td align="right">710,231<br/></td>
 <td align="center">3</td>
 <td align="center"></td>
 <td>Largest capital by municipal land area.
 </td></tr>
 <tr>
 <td><a href="/wiki/Arizona" title="Arizona">Arizona</a></td>
 <td>AZ</td>
 <td align="center">1912</td>
 <td><a href="/wiki/Phoenix,_Arizona" title="Phoenix, Arizona">Phoenix</a></td>
 <td align="center">1889</td>
 <td align="right">474.9</td>
 <td align="right">1,445,632</td>
 <td align="right">4,192,887</td>
 <td align="center">1</td>
 <td align="center">6</td>
 <td>Phoenix is the most populous capital city in the United States of America.
 </td></tr>
 <tr>
 <td><a href="/wiki/Arkansas" title="Arkansas">Arkansas</a></td>
 <td>AR</td>
 <td align="center">1836</td>
 <td><a href="/wiki/Little_Rock,_Arkansas" title="Little Rock, Arkansas">Little Rock</a></td>
 <td align="center">1821</td>
 <td align="right">116.2</td>
 <td align="right">193,524</td>
 <td align="right">699,757</td>
 <td align="center">1</td>
 <td align="center">117</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/California" title="California">California</a></td>
 <td>CA</td>
 <td align="center">1850</td>
 <td><a href="/wiki/Sacramento,_California" title="Sacramento, California">Sacramento</a></td>
 <td align="center">1854</td>
 <td align="right">97.2</td>
 <td align="right">466,488</td>
 <td align="right">2,149,127</td>
 <td align="center">6</td>
 <td align="center">35</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Colorado" title="Colorado">Colorado</a></td>
 <td>CO</td>
 <td align="center">1876</td>
 <td><a class="mw-redirect" href="/wiki/Denver,_Colorado" title="Denver, Colorado">Denver</a></td>
 <td align="center">1867</td>
 <td align="right">153.4</td>
 <td align="right">600,158</td>
 <td align="right">2,543,482</td>
 <td align="center">1</td>
 <td align="center">26</td>
 <td>Denver was called Denver City until 1882.
 </td></tr>
 <tr>
 <td><a href="/wiki/Connecticut" title="Connecticut">Connecticut</a></td>
 <td>CT</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Hartford,_Connecticut" title="Hartford, Connecticut">Hartford</a></td>
 <td align="center">1875</td>
 <td align="right">17.3</td>
 <td align="right">124,775</td>
 <td align="right">1,212,381</td>
 <td align="center">3</td>
 <td align="center">199</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Delaware" title="Delaware">Delaware</a></td>
 <td>DE</td>
 <td align="center">1787</td>
 <td><a href="/wiki/Dover,_Delaware" title="Dover, Delaware">Dover</a></td>
 <td align="center">1777</td>
 <td align="right">22.4</td>
 <td align="right">36,047</td>
 <td align="right">162,310</td>
 <td align="center">2</td>
 <td align="center"></td>
 <td>Longest-serving capital in terms of statehood.
 </td></tr>
 <tr>
 <td><a href="/wiki/Florida" title="Florida">Florida</a></td>
 <td>FL</td>
 <td align="center">1845</td>
 <td><a href="/wiki/Tallahassee,_Florida" title="Tallahassee, Florida">Tallahassee</a></td>
 <td align="center">1824</td>
 <td align="right">95.7</td>
 <td align="right">181,376</td>
 <td align="right">367,413</td>
 <td align="center">7</td>
 <td align="center">125</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Georgia_(U.S._state)" title="Georgia (U.S. state)">Georgia</a></td>
 <td>GA</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Atlanta" title="Atlanta">Atlanta</a></td>
 <td align="center">1868</td>
 <td align="right">131.7</td>
 <td align="right">420,003</td>
 <td align="right">5,286,728</td>
 <td align="center">1</td>
 <td align="center">40</td>
 <td>Most populous metro area of any state capital.
 </td></tr>
 <tr>
 <td><a href="/wiki/Hawaii" title="Hawaii">Hawaii</a></td>
 <td>HI</td>
 <td align="center">1959</td>
 <td><a href="/wiki/Honolulu" title="Honolulu">Honolulu</a></td>
 <td align="center">1845</td>
 <td align="right">85.7</td>
 <td align="right">337,256</td>
 <td align="right">953,207</td>
 <td align="center">1</td>
 <td align="center">53</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Idaho" title="Idaho">Idaho</a></td>
 <td>ID</td>
 <td align="center">1890</td>
 <td><a href="/wiki/Boise,_Idaho" title="Boise, Idaho">Boise</a></td>
 <td align="center">1865</td>
 <td align="right">63.8</td>
 <td align="right">205,671</td>
 <td align="right">616,561</td>
 <td align="center">1</td>
 <td align="center">103</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Illinois" title="Illinois">Illinois</a></td>
 <td>IL</td>
 <td align="center">1818</td>
 <td><a href="/wiki/Springfield,_Illinois" title="Springfield, Illinois">Springfield</a></td>
 <td align="center">1837</td>
 <td align="right">54.0</td>
 <td align="right">116,250</td>
 <td align="right">210,170</td>
 <td align="center">6</td>
 <td align="center">221</td>
 <td><a href="/wiki/Springfield,_Illinois" title="Springfield, Illinois">Springfield</a> was once home to <a href="/wiki/Abraham_Lincoln" title="Abraham Lincoln">Abraham Lincoln</a>.
 </td></tr>
 <tr>
 <td><a href="/wiki/Indiana" title="Indiana">Indiana</a></td>
 <td>IN</td>
 <td align="center">1816</td>
 <td><a href="/wiki/Indianapolis" title="Indianapolis">Indianapolis</a></td>
 <td align="center">1825</td>
 <td align="right">361.5</td>
 <td align="right">820,445</td>
 <td align="right">1,887,877</td>
 <td align="center">1</td>
 <td align="center">16</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Iowa" title="Iowa">Iowa</a></td>
 <td>IA</td>
 <td align="center">1846</td>
 <td><a href="/wiki/Des_Moines,_Iowa" title="Des Moines, Iowa">Des Moines</a></td>
 <td align="center">1857</td>
 <td align="right">75.8</td>
 <td align="right">203,433</td>
 <td align="right">569,633</td>
 <td align="center">1</td>
 <td align="center">105</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Kansas" title="Kansas">Kansas</a></td>
 <td>KS</td>
 <td align="center">1861</td>
 <td><a href="/wiki/Topeka,_Kansas" title="Topeka, Kansas">Topeka</a></td>
 <td align="center">1856</td>
 <td align="right">56.0</td>
 <td align="right">127,473</td>
 <td align="right">230,870</td>
 <td align="center">4</td>
 <td align="center">193</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Kentucky" title="Kentucky">Kentucky</a></td>
 <td>KY</td>
 <td align="center">1792</td>
 <td><a href="/wiki/Frankfort,_Kentucky" title="Frankfort, Kentucky">Frankfort</a></td>
 <td align="center">1792</td>
 <td align="right">14.7</td>
 <td align="right">25,527</td>
 <td align="right">70,758</td>
 <td align="center">14</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Louisiana" title="Louisiana">Louisiana</a></td>
 <td>LA</td>
 <td align="center">1812</td>
 <td><a href="/wiki/Baton_Rouge,_Louisiana" title="Baton Rouge, Louisiana">Baton Rouge</a></td>
 <td align="center">1880</td>
 <td align="right">76.8</td>
 <td align="right">229,493</td>
 <td align="right">802,484</td>
 <td align="center">2</td>
 <td align="center">85</td>
 <td>Baton Rouge is located in the state's most populous parish. It is also home to the tallest state capitol building.
 </td></tr>
 <tr>
 <td><a href="/wiki/Maine" title="Maine">Maine</a></td>
 <td>ME</td>
 <td align="center">1820</td>
 <td><a href="/wiki/Augusta,_Maine" title="Augusta, Maine">Augusta</a></td>
 <td align="center">1832</td>
 <td align="right">55.4</td>
 <td align="right">19,136</td>
 <td align="right">117,114</td>
 <td align="center">8</td>
 <td></td>
 <td><a href="/wiki/Portland,_Maine" title="Portland, Maine">Portland</a> is a previous capital.
 </td></tr>
 <tr>
 <td><a href="/wiki/Maryland" title="Maryland">Maryland</a></td>
 <td>MD</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Annapolis,_Maryland" title="Annapolis, Maryland">Annapolis</a></td>
 <td align="center">1694</td>
 <td align="right">6.73</td>
 <td align="right">38,394</td>
 <td align="right"></td>
 <td align="center">7</td>
 <td></td>
 <td>Smallest capital by land area. Capitol building is the oldest in the U.S. still in use.
 </td></tr>
 <tr>
 <td><a href="/wiki/Massachusetts" title="Massachusetts">Massachusetts</a></td>
 <td>MA</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Boston" title="Boston">Boston</a></td>
 <td align="center">1630</td>
 <td align="right">48.4</td>
 <td align="right">617,594</td>
 <td align="right">4,552,402</td>
 <td align="center">1</td>
 <td align="center">22</td>
 <td>Longest continuously serving capital in the U.S.
 </td></tr>
 <tr>
 <td><a href="/wiki/Michigan" title="Michigan">Michigan</a></td>
 <td>MI</td>
 <td align="center">1837</td>
 <td><a href="/wiki/Lansing,_Michigan" title="Lansing, Michigan">Lansing</a></td>
 <td align="center">1847</td>
 <td align="right">35.0</td>
 <td align="right">114,297</td>
 <td align="right">464,036</td>
 <td align="center">5</td>
 <td align="center">226</td>
 <td>Only state capital that is not also its <a href="/wiki/County_seat" title="County seat">county seat</a> (not counting the two state capitals that are <a class="new" href="/w/index.php?title=Independent_city_(United_States)&amp;action=edit&amp;redlink=1" title="Independent city (United States) (not yet started)">independent cities</a> and not located in any county).
 </td></tr>
 <tr>
 <td><a href="/wiki/Minnesota" title="Minnesota">Minnesota</a></td>
 <td>MN</td>
 <td align="center">1858</td>
 <td><a href="/wiki/Saint_Paul,_Minnesota" title="Saint Paul, Minnesota">Saint Paul</a></td>
 <td align="center">1849</td>
 <td align="right">52.8</td>
 <td align="right">285,068</td>
 <td align="right">3,348,659</td>
 <td align="center">2</td>
 <td align="center">67</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Mississippi" title="Mississippi">Mississippi</a></td>
 <td>MS</td>
 <td align="center">1817</td>
 <td><a href="/wiki/Jackson,_Mississippi" title="Jackson, Mississippi">Jackson</a></td>
 <td align="center">1821</td>
 <td align="right">104.9</td>
 <td align="right">173,514</td>
 <td align="right">567,122</td>
 <td align="center">1</td>
 <td align="center">134</td>
 <td>Only state capital that shares its status as <a href="/wiki/County_seat" title="County seat">county seat</a> with another city (<a href="/wiki/Raymond,_Mississippi" title="Raymond, Mississippi">Raymond, Mississippi</a>).
 </td></tr>
 <tr>
 <td><a href="/wiki/Missouri" title="Missouri">Missouri</a></td>
 <td>MO</td>
 <td align="center">1821</td>
 <td><a href="/wiki/Jefferson_City,_Missouri" title="Jefferson City, Missouri">Jefferson City</a></td>
 <td align="center">1826</td>
 <td align="right">27.3</td>
 <td align="right">43,079</td>
 <td align="right">149,807</td>
 <td align="center">15</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Montana" title="Montana">Montana</a></td>
 <td>MT</td>
 <td align="center">1889</td>
 <td><a href="/wiki/Helena,_Montana" title="Helena, Montana">Helena</a></td>
 <td align="center">1875</td>
 <td align="right">14.0</td>
 <td align="right">28,190</td>
 <td align="right">74,801</td>
 <td align="center">6</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Nebraska" title="Nebraska">Nebraska</a></td>
 <td>NE</td>
 <td align="center">1867</td>
 <td><a href="/wiki/Lincoln,_Nebraska" title="Lincoln, Nebraska">Lincoln</a></td>
 <td align="center">1867</td>
 <td align="right">74.6</td>
 <td align="right">258,379</td>
 <td align="right">302,157</td>
 <td align="center">2</td>
 <td align="center">72</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Nevada" title="Nevada">Nevada</a></td>
 <td>NV</td>
 <td align="center">1864</td>
 <td><a href="/wiki/Carson_City,_Nevada" title="Carson City, Nevada">Carson City</a></td>
 <td align="center">1861</td>
 <td align="right">143.4</td>
 <td align="right">55,274</td>
 <td align="right"></td>
 <td align="center">6</td>
 <td></td>
 <td>One of two <a class="new" href="/w/index.php?title=Independent_city_(United_States)&amp;action=edit&amp;redlink=1" title="Independent city (United States) (not yet started)">independent cities</a> that serves as a state capital.
 </td></tr>
 <tr>
 <td><a href="/wiki/New_Hampshire" title="New Hampshire">New Hampshire</a></td>
 <td>NH</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Concord,_New_Hampshire" title="Concord, New Hampshire">Concord</a></td>
 <td align="center">1808</td>
 <td align="right">64.3</td>
 <td align="right">42,695</td>
 <td align="right"></td>
 <td align="center">3</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a></td>
 <td>NJ</td>
 <td align="center">1787</td>
 <td><a href="/wiki/Trenton,_New_Jersey" title="Trenton, New Jersey">Trenton</a></td>
 <td align="center">1784</td>
 <td align="right">7.66</td>
 <td align="right">84,913</td>
 <td align="right">366,513</td>
 <td align="center">10</td>
 <td></td>
 <td>Served as the U.S. capital for a short period in the late 18th century.
 </td></tr>
 <tr>
 <td><a href="/wiki/New_Mexico" title="New Mexico">New Mexico</a></td>
 <td>NM</td>
 <td align="center">1912</td>
 <td><a href="/wiki/Santa_Fe,_New_Mexico" title="Santa Fe, New Mexico">Santa Fe</a></td>
 <td align="center">1610</td>
 <td align="right">37.3</td>
 <td align="right">75,764</td>
 <td align="right">183,732</td>
 <td align="center">4</td>
 <td></td>
 <td>Longest serving capital in the United States. Highest elevation of any state capital.
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/New_York_(state)" title="New York (state)">New York</a></td>
 <td>NY</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Albany,_New_York" title="Albany, New York">Albany</a></td>
 <td align="center">1797</td>
 <td align="right">21.4</td>
 <td align="right">97,856</td>
 <td align="right">857,592</td>
 <td align="center">6</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/North_Carolina" title="North Carolina">North Carolina</a></td>
 <td>NC</td>
 <td align="center">1789</td>
 <td><a href="/wiki/Raleigh,_North_Carolina" title="Raleigh, North Carolina">Raleigh</a></td>
 <td align="center">1792</td>
 <td align="right">114.6</td>
 <td align="right">403,892</td>
 <td align="right">1,130,490</td>
 <td align="center">2</td>
 <td align="center">43</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/North_Dakota" title="North Dakota">North Dakota</a></td>
 <td>ND</td>
 <td align="center">1889</td>
 <td><a href="/wiki/Bismarck,_North_Dakota" title="Bismarck, North Dakota">Bismarck</a></td>
 <td align="center">1883</td>
 <td align="right">26.9</td>
 <td align="right">61,272</td>
 <td align="right">108,779</td>
 <td align="center">2</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Ohio" title="Ohio">Ohio</a></td>
 <td>OH</td>
 <td align="center">1803</td>
 <td><a href="/wiki/Columbus,_Ohio" title="Columbus, Ohio">Columbus</a></td>
 <td align="center">1816</td>
 <td align="right">210.3</td>
 <td align="right">879,170</td>
 <td align="right">2,078,725</td>
 <td align="center">1</td>
 <td align="center">14</td>
 <td>Columbus is the largest city in Ohio, the second largest city in the Midwest, and the third largest state capital in the United States.
 </td></tr>
 <tr>
 <td><a href="/wiki/Oklahoma" title="Oklahoma">Oklahoma</a></td>
 <td>OK</td>
 <td align="center">1907</td>
 <td nowrap=""><a href="/wiki/Oklahoma_City" title="Oklahoma City">Oklahoma City</a></td>
 <td align="center">1910</td>
 <td align="right">607.0</td>
 <td align="right">579,999</td>
 <td align="right">1,252,987</td>
 <td align="center">1</td>
 <td align="center">31</td>
 <td>Shortest serving current state capital.
 </td></tr>
 <tr>
 <td><a href="/wiki/Oregon" title="Oregon">Oregon</a></td>
 <td>OR</td>
 <td align="center">1859</td>
 <td><a href="/wiki/Salem,_Oregon" title="Salem, Oregon">Salem</a></td>
 <td align="center">1855</td>
 <td align="right">45.7</td>
 <td align="right">154,637</td>
 <td align="right">390,738</td>
 <td align="center">3</td>
 <td align="center">149</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Pennsylvania" title="Pennsylvania">Pennsylvania</a></td>
 <td>PA</td>
 <td align="center">1787</td>
 <td><a href="/wiki/Harrisburg,_Pennsylvania" title="Harrisburg, Pennsylvania">Harrisburg</a></td>
 <td align="center">1812</td>
 <td align="right">8.11</td>
 <td align="right">49,528</td>
 <td align="right">647,390</td>
 <td align="center">9</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Rhode_Island" title="Rhode Island">Rhode Island</a></td>
 <td>RI</td>
 <td align="center">1790</td>
 <td><a href="/wiki/Providence,_Rhode_Island" title="Providence, Rhode Island">Providence</a></td>
 <td align="center">1900</td>
 <td align="right">18.5</td>
 <td align="right">178,042</td>
 <td align="right">1,600,852</td>
 <td align="center">1</td>
 <td align="center">130</td>
 <td>Also served as the state's capital 1636–1686 and 1689–1776. It was one of five co-capitals 1776–1853, and one of two co-capitals 1853–1900.
 </td></tr>
 <tr>
 <td><a href="/wiki/South_Carolina" title="South Carolina">South Carolina</a></td>
 <td>SC</td>
 <td align="center">1788</td>
 <td><a href="/wiki/Columbia,_South_Carolina" title="Columbia, South Carolina">Columbia</a></td>
 <td align="center">1786</td>
 <td align="right">125.2</td>
 <td align="right">129,272</td>
 <td align="right">767,598</td>
 <td align="center">2</td>
 <td align="center">191</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/South_Dakota" title="South Dakota">South Dakota</a></td>
 <td>SD</td>
 <td align="center">1889</td>
 <td><a href="/wiki/Pierre,_South_Dakota" title="Pierre, South Dakota">Pierre</a></td>
 <td align="center">1889</td>
 <td align="right">13.0</td>
 <td align="right">13,646</td>
 <td align="right"></td>
 <td align="center">8</td>
 <td></td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Tennessee" title="Tennessee">Tennessee</a></td>
 <td>TN</td>
 <td align="center">1796</td>
 <td><a href="/wiki/Nashville,_Tennessee" title="Nashville, Tennessee">Nashville</a></td>
 <td align="center">1826</td>
 <td align="right">473.3</td>
 <td align="right">601,222</td>
 <td align="right">1,670,890</td>
 <td align="center">1</td>
 <td align="center">25</td>
 <td>
 </td></tr>
 <tr>
 <td><a href="/wiki/Texas" title="Texas">Texas</a></td>
 <td>TX</td>
 <td align="center">1845</td>
 <td><a href="/wiki/Austin,_Texas" title="Austin, Texas">Austin</a></td>
 <td align="center">1839</td>
 <td align="right">251.5</td>
 <td align="right">790,390</td>
 <td align="right">1,716,291</td>
 <td align="center">4</td>
 <td align="center">11</td>

In [42]:
# This webpage happens to have only 1 table. 
len(states_table)

1

In [43]:
# Multiple tables will simply be returned in a list. Example:

ncaab_soup = BeautifulSoup(requests.get(
    "https://en.wikipedia.org/wiki/NCAA_Division_I_Men%27s_Basketball_Tournament").text)
ncaab_tables = ncaab_soup.find_all("table")
len(ncaab_tables)

/usr/local/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /usr/local/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

26

#### Extract references in the Wikipedia page
Going back to US State Capitals, let's extract the URLs of all the references at the bottom of [this Wikipedia entry](https://simple.wikipedia.org/wiki/List_of_U.S._state_capitals). We previously stored the html in a BeautifulSoup object that we named `page_soup`.

In [44]:
refs = page_soup.find_all('ol', {'class': 'references'})

In [45]:
refs

[<ol class="references">
 <li id="cite_note-1"><span class="mw-cite-backlink"><a href="#cite_ref-1">↑</a></span> <span class="reference-text"><a class="external free" href="http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml" rel="nofollow">http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml</a></span>
 </li>
 </ol>, <ol class="references">
 <li id="cite_note-2"><span class="mw-cite-backlink"><a href="#cite_ref-2">↑</a></span> <span class="reference-text"><cite class="citation web"><a class="external text" href="http://spscp.weebly.com/" rel="nofollow">"The Super PAC That Supports Certain People (SPSCP)"</a>. <i>The Super PAC That Supports Certain People (SPSCP)</i><span class="reference-accessdate">. Retrieved <span class="nowrap">2019-09-19</span></span>.</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=unknown&amp;rft.jtitle=The+Super+PAC+That+Supports+Certain+People+%28SPSCP%29&amp;rft.atitle=The+Super+PAC+That+Supports+Certain+People+%28SPSCP%29&amp;rft_id=http%3A%2F%2Fspscp.weebly.com%2F&amp;rfr_id=info%3Asid%2Fsimple.wikipedia.org%3AList+of+U.S.+state+capitals"></span><style data-mw-deduplicate="TemplateStyles:r6670392">.mw-parser-output cite.citation{font-style:inherit}.mw-parser-output .citation q{quotes:"\"""\"""'""'"}.mw-parser-output .citation .cs1-lock-free a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/65/Lock-green.svg/9px-Lock-green.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .citation .cs1-lock-limited a,.mw-parser-output .citation .cs1-lock-registration a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Lock-gray-alt-2.svg/9px-Lock-gray-alt-2.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .citation .cs1-lock-subscription a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Lock-red-alt-2.svg/9px-Lock-red-alt-2.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .cs1-subscription,.mw-parser-output .cs1-registration{color:#555}.mw-parser-output .cs1-subscription span,.mw-parser-output .cs1-registration span{border-bottom:1px dotted;cursor:help}.mw-parser-output .cs1-ws-icon a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/12px-Wikisource-logo.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output code.cs1-code{color:inherit;background:inherit;border:inherit;padding:inherit}.mw-parser-output .cs1-hidden-error{display:none;font-size:100%}.mw-parser-output .cs1-visible-error{font-size:100%}.mw-parser-output .cs1-maint{display:none;color:#33aa33;margin-left:0.3em}.mw-parser-output .cs1-subscription,.mw-parser-output .cs1-registration,.mw-parser-output .cs1-format{font-size:95%}.mw-parser-output .cs1-kern-left,.mw-parser-output .cs1-kern-wl-left{padding-left:0.2em}.mw-parser-output .cs1-kern-right,.mw-parser-output .cs1-kern-wl-right{padding-right:0.2em}</style></span>
 </li>
 </ol>]

In [46]:
# Find all li tags where id contains "cite_note". You want to pick up both "cite_note-1" and "cite_note-2" so
# we use the re package that makes it easy to detect patterns in strings.

import re
citenotes = page_soup.find_all('li', {'id': re.compile('cite_note-')})
citenotes

[<li id="cite_note-1"><span class="mw-cite-backlink"><a href="#cite_ref-1">↑</a></span> <span class="reference-text"><a class="external free" href="http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml" rel="nofollow">http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml</a></span>
 </li>,
 <li id="cite_note-2"><span class="mw-cite-backlink"><a href="#cite_ref-2">↑</a></span> <span class="reference-text"><cite class="citation web"><a class="external text" href="http://spscp.weebly.com/" rel="nofollow">"The Super PAC That Supports Certain People (SPSCP)"</a>. <i>The Super PAC That Supports Certain People (SPSCP)</i><span class="reference-accessdate">. Retrieved <span class="nowrap">2019-09-19</span></span>.</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=unknown&amp;rft.jtitle=The+Super+PAC+That+Supports+Certain+People+%28SPSCP%29&amp;rft.atitle=The+Super+PAC+That+Supports+Certain+People+%28SPSCP%29&amp;rft_id=http%3A%2F%2Fspscp.weebly.com%2F&amp;rfr_id=info%3Asid%2Fsimple.wikipedia.org%3AList+of+U.S.+state+capitals"></span><style data-mw-deduplicate="TemplateStyles:r6670392">.mw-parser-output cite.citation{font-style:inherit}.mw-parser-output .citation q{quotes:"\"""\"""'""'"}.mw-parser-output .citation .cs1-lock-free a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/65/Lock-green.svg/9px-Lock-green.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .citation .cs1-lock-limited a,.mw-parser-output .citation .cs1-lock-registration a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Lock-gray-alt-2.svg/9px-Lock-gray-alt-2.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .citation .cs1-lock-subscription a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Lock-red-alt-2.svg/9px-Lock-red-alt-2.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .cs1-subscription,.mw-parser-output .cs1-registration{color:#555}.mw-parser-output .cs1-subscription span,.mw-parser-output .cs1-registration span{border-bottom:1px dotted;cursor:help}.mw-parser-output .cs1-ws-icon a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/12px-Wikisource-logo.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output code.cs1-code{color:inherit;background:inherit;border:inherit;padding:inherit}.mw-parser-output .cs1-hidden-error{display:none;font-size:100%}.mw-parser-output .cs1-visible-error{font-size:100%}.mw-parser-output .cs1-maint{display:none;color:#33aa33;margin-left:0.3em}.mw-parser-output .cs1-subscription,.mw-parser-output .cs1-registration,.mw-parser-output .cs1-format{font-size:95%}.mw-parser-output .cs1-kern-left,.mw-parser-output .cs1-kern-wl-left{padding-left:0.2em}.mw-parser-output .cs1-kern-right,.mw-parser-output .cs1-kern-wl-right{padding-right:0.2em}</style></span>
 </li>]

In [47]:
for elem in citenotes:
    print(elem.find('a', {'class': 'external'}))

<a class="external free" href="http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml" rel="nofollow">http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml</a>
<a class="external text" href="http://spscp.weebly.com/" rel="nofollow">"The Super PAC That Supports Certain People (SPSCP)"</a>

In [48]:
# Almost there
for elem in citenotes:
    print(elem.find('a', {'class': 'external'}).get('href'))

http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml
http://spscp.weebly.com/

In [49]:
# You could populate a list, Series or DataFrame with the extracted items iteratively.

# But as we saw previously, Python's "list comprehension" is very useful for situations like this.

ref_links = [ elem.find('a', {'class': 'external'}).get('href') for elem in citenotes ]
ref_links

['http://www.vtliving.com/towns/montpelier/visit_montpelier.shtml',
 'http://spscp.weebly.com/']

## Grab and embed our favorite song

Let's do something more fun: embed everybody's favorite song on this page.

In [50]:
import urllib
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import random
from IPython.display import IFrame

In [51]:
textToSearch = "Notre Dame Our Mother Notre Dame Folk Choir"

query = urllib.parse.quote(textToSearch)

query

'Notre%20Dame%20Our%20Mother%20Notre%20Dame%20Folk%20Choir'

In [52]:
url = "https://www.youtube.com/results?search_query=" + query

response = urlopen(url)
html = response.read()
soup = BeautifulSoup(html, 'lxml')

In [53]:
# In the following we are just picking up the first link that shows up. 
soup.find_all(attrs={'class':'yt-uix-tile-link'})[0]

<a aria-describedby="description-id-616784" class="yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2 yt-uix-sessionlink spf-link " data-sessionlink="itct=CF4Q3DAYACITCO-2iu3qnuYCFeJBTAgdpSgGHjIGc2VhcmNoUitOb3RyZSBEYW1lIE91ciBNb3RoZXIgTm90cmUgRGFtZSBGb2xrIENob2ly" dir="ltr" href="/watch?v=ENQMjEskM7s" rel="spf-prefetch" title="Notre Dame, Our Mother | Notre Dame Folk Choir">Notre Dame, Our Mother | Notre Dame Folk Choir</a>

In [54]:
# Now we are picking up the randomly-generated string that uniquely identifies every every youtube video
soup.find_all(attrs={'class':'yt-uix-tile-link'})[0]['href']

'/watch?v=ENQMjEskM7s'

In [55]:
# Extract the ID without the '/watch?v=' in the string. Start from the 9th index to the rest of it. 
soup.find_all(attrs={'class':'yt-uix-tile-link'})[0]['href'][9:]

'ENQMjEskM7s'

In [56]:
songLink = 'https://www.youtube.com/embed/'+ soup.find_all(attrs={'class':'yt-uix-tile-link'})[0]['href'][9:]

# We are embedding the video we searched into the following webpage in an HTML iframe

IFrame(songLink, width="560", height="315")

# Web Scraping through Application Programming Interface (API)

What's an API? In general an API is "a set of functions and procedures allowing the creation of applications that access the features or data of an operating system, application, or other service." (lexico.com.)

In the context of the Web, an API for a website simply returns data in response to a request made by a client (i.e. us).

Say we are FedEx couriers. We want to pick up some packages from someone's house for overnight delivery. Instead of trying to break into the house and searching for the packages, imagine the home owner gave us specific instructions on where the packages are and how to access them (perhaps a back door with a keypad). That's an API!

If a website you wish to harvest data from is kind enough to provide an API, use it and play by its rules! (And thank it profusely.)

**If an API is available for a website, that is always preferred rather than scraping.**

In this section, we will use simple APIs provided by NASA, [here](http://open-notify.org/), to retrieve data about the International Space Station (ISS). 

Some of the content presented here is based on [dataquest](https://www.dataquest.io/blog/python-api-tutorial/).

## Internation Space Station APIs

In [19]:
import pandas as pd
import requests
response = requests.get("http://api.open-notify.org/iss-now.json")

print(response.status_code)

200

There are various status codes that you will get when you send any web request. [This](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) page describes them in detail.

#### Current ISS Position

In [20]:
response1 = requests.get("http://api.open-notify.org/iss-now.json")

# typically content is returned as a JSON. pandas read_json is great for parsing JSON into dataframes automatically.
pd.read_json(response1.content)

           iss_position  message           timestamp
latitude         3.9359  success 2019-12-05 16:17:19
longitude      -84.2903  success 2019-12-05 16:17:19

#### Current Number of People In Space

In [59]:
response2 = requests.get("http://api.open-notify.org/astros.json")
pd.read_json(response2.content)

                                            people  number  message
0       {'name': 'Christina Koch', 'craft': 'ISS'}       6  success
1  {'name': 'Alexander Skvortsov', 'craft': 'ISS'}       6  success
2       {'name': 'Luca Parmitano', 'craft': 'ISS'}       6  success
3        {'name': 'Andrew Morgan', 'craft': 'ISS'}       6  success
4      {'name': 'Oleg Skripochka', 'craft': 'ISS'}       6  success
5         {'name': 'Jessica Meir', 'craft': 'ISS'}       6  success

## Google Maps API

### Google API key

Unlike NASA, Google Maps is a commercial enterprise; therefore they want to know who is using their APIs so they can control access. Therefore everyone who uses Google's APIs needs an API key tied to your Google account. Ideally you would need to create this key from your Google API dashboard by logging in with your Google account. I have provided this key to for a dummy account. It comes with its own restrictions, as you'll see below.

**NOTE**: The below key `AIzaSyBwoKBVreiCa9HmRNmvIwZgeP5bn3tk-h0` will be disabled after the class. You can create your own key using the link [here](https://support.google.com/googleapi/answer/6158862?hl=en).

It is more convenient to access Google Maps API using `googlemaps` package, but we first need to install it.

In [3]:
!pip install googlemaps --user

Requirement already satisfied: googlemaps in ./.local/lib/python3.6/site-packages (3.1.4)
Requirement already satisfied: requests<3.0,>=2.20.0 in ./.local/lib/python3.6/site-packages (from googlemaps) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2018.8.24)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.23)
WARNING: You are using pip version 19.1.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import googlemaps
from datetime import datetime

In [8]:
gmaps = googlemaps.Client(key='AIzaSyBwoKBVreiCa9HmRNmvIwZgeP5bn3tk-h0')

#### Using Google Maps API, find expected driving time between SB and Chicago

In [9]:
cities_zip = pd.read_csv("https://www3.nd.edu/~jng2/uscities_zip.csv", index_col = ['city', 'state_id'])

In [10]:
cities_zip.head(2)

,,city_ascii,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
city,state_id,,,,,,,,,,,,,,,,,
New York,NY,New York,New York,36061,New York,36061,New York,40.6943,-73.9249,19354922,11083,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840059961
Los Angeles,CA,Los Angeles,California,6037,Los Angeles,6037,Los Angeles,34.1139,-118.4068,12815475,3295,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840107920

In [11]:
starttime = datetime.strptime('Dec 20 2019  8:00AM', '%b %d %Y %I:%M%p')
starttime

datetime.datetime(2019, 12, 20, 8, 0)

In [12]:
results = gmaps.distance_matrix((cities_zip.loc['South Bend', 'IN']['lat'], cities_zip.loc['South Bend', 'IN']['lng']), 
                      (cities_zip.loc['Chicago', 'IL']['lat'], cities_zip.loc['Chicago', 'IL']['lng']), 
                      departure_time= starttime)

In [13]:
results

{'destination_addresses': ['3201 S Western Ave, Chicago, IL 60608, USA'],
 'origin_addresses': ['123 Spruce St, South Bend, IN 46616, USA'],
 'rows': [{'elements': [{'distance': {'text': '145 km', 'value': 145084},
     'duration': {'text': '1 hour 42 mins', 'value': 6095},
     'duration_in_traffic': {'text': '1 hour 44 mins', 'value': 6261},
     'status': 'OK'}]}],
 'status': 'OK'}

#### Using Google Maps API, find the current location of ISS.

In [21]:
iss_df = pd.read_json(response1.content)
iss_df.head()

           iss_position  message           timestamp
latitude         3.9359  success 2019-12-05 16:17:19
longitude      -84.2903  success 2019-12-05 16:17:19

In [22]:
lat = iss_df.loc['latitude', 'iss_position']
long = iss_df.loc['longitude', 'iss_position']
(lat, long)

(3.9359, -84.2903)

In [28]:
gmaps.reverse_geocode( (lat, long) )

ApiError: REQUEST_DENIED (This API project is not authorized to use this API.)

In [25]:
# Oops, Google doesn't give everything away for free
# Let's use a free package instead
!pip install reverse_geocoder --user

Requirement already satisfied: reverse_geocoder in ./.local/lib/python3.6/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/site-packages (from reverse_geocoder) (1.16.1)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/lib/python3.6/site-packages (from reverse_geocoder) (1.1.0)
WARNING: You are using pip version 19.1.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [26]:
import reverse_geocoder

In [27]:
reverse_geocoder.search( (lat, long) )

Loading formatted geocoded file...

[OrderedDict([('lat', '8.03333'),
              ('lon', '-82.86667'),
              ('name', 'Punta de Burica'),
              ('admin1', 'Chiriqui'),
              ('admin2', ''),
              ('cc', 'PA')])]